[2019-09-27 03:21] kiwicopple opened #1 "All data/changes are being "stringified""
See this issue here: https://github.com/cainophile/pgoutput_decoder/issues/1

In summary, the decoded data is in the format:

[code]

The tuple_data has an value of `"2"` for the ID, instead of `2`

[2019-09-27 03:26] kiwicopple commented on #1
Seems like it might be worthwhile exploring `wal2json` again: https://github.com/eulerto/wal2json

This is supported by PostgreSQL 9.4+ and RDS 9.6+ (I believe)

[2019-09-27 03:43] kiwicopple commented on #1
Also worth noting that for some reason `wal2json` doesn't appear in the extension list of PG

[code]
But is still seems to work. Detailed instructions here:

https://aws.amazon.com/blogs/database/stream-changes-from-amazon-rds-for-postgresql-using-amazon-kinesis-data-streams-and-aws-lambda/

The key change will be somehow passing `wal2json` as the  output plugin when connecting `epgsql` and creati

[2019-10-11 05:58] kiwicopple opened #3 "Update Web Layout Template"
Remove JS from Web:

https://github.com/supabase/realtime/blob/d50b7a7209c91fbca2121a80c3f2c7f8e3e19146/lib/realtime_web/templates/layout/app.html.eex#L21

Add basic info and link to Github

[2019-10-11 08:24] #3 closed

[2019-10-11 08:26] kiwicopple commented on #1
Resolution was to send all the data (columns etc) back to the client. Will leave it to the client libraries to do the mappings

[2019-10-11 08:26] #1 closed

[2019-11-14 07:31] kiwicopple opened #5 "Server not correctly mapping 'numeric' types"
We have the following table:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/10214025/68835750-b31c0900-06f3-11ea-9619-6810618fd6a8.png">

When we receive an update, here is the response:

<img width="636" alt="image" src="https://user-images.githubusercontent.com/10214025/68835643-7f40e380-06f3-11ea-82e3-7284d3110572.png">

Note that the `numeric` columns are "unknown

[2019-11-14 07:32] kiwicopple commented on #5
@dragarcia this could be a good first task for elixir tomorrow.

[2019-11-15 02:46] kiwicopple opened #6 "Restructure repo"
We should use this repo for all of our realtime code. eg:

- server
- client
  - realtime-js
  - realtime-contrib-nodered
  - realtime-py

[2019-11-15 03:05] kiwicopple opened #7 "Change "shout" to "*" wildcard"
Shout may have a naming conflict in fringe cases and it isn't conventional

[2019-11-15 03:19] kiwicopple opened #8 "Broadcast changes to relations"
At the moment we are broadcasting `*`

A customer should be able to "listen" to changes to individual tables. To achieve this, we should also broadcast based on the relation (schema + table), and allow the customer to listen based on this criteria.

For example:

[code]

Chnages required:

- Server: should broadcast both on `*` AND the `schema`+`table`
- JS client: should accept a object as the fi

[2019-11-15 03:24] kiwicopple opened #9 "Realtime JS should allow users to unsubscribe from channels with the same name"
Test:

- Set up 2 listeners on `*`
- Assert that they are receiving changes
- Unsubscribe from one
- Assert the remaining listener is receiving changes

[2019-11-18 02:25] #6 closed

[2019-12-03 06:07] #7 closed

[2019-12-03 12:05] dragarcia commented on #5
## Solution
Now that we forked away from [PGOutputDecoder](https://github.com/cainophile/pgoutput_decoder), the following were implemented:
1. `server/lib/decoder/oid_database.ex`
     - Update the mapping on `server/lib/decoder/oid_database.ex` to cover all base PgSQL data types. This is based on [this](https://github.com/brianc/node-pg-types/blob/master/lib/builtins.js)
     - Change mapping fun

[2019-12-11 05:36] #5 closed

[2019-12-11 13:53] kiwicopple commented on #8
Solved on serverside :) Breaking change, so will leave the client implementation for a time when the server changes have settled a bit

[2019-12-11 13:53] #8 closed

[2020-01-20 02:34] dragarcia opened #13 "Phoenix Channels is appending /websocket after query params"
## Expected Behaviour
When implementing web sockets, the expected resultant web socket url would be:
`ws://world.supabase.co/socket/websocket?apikey=xxxxx`.

## Current Behaviour
When passing the url to the library [phoenix-channels](https://github.com/mcampa/phoenix-channels), the resultant web socket becomes:
`ws://world.supabase.co?apikey=xxxxx/websocket`

This leads to a 404 error.

## Possibl

[2020-01-30 02:27] awalias opened #15 "Row level filtering"
user should be able to subscribe to events only on specific rows based on column criteria

[code]

[2020-01-30 02:33] awalias opened #16 "Authentication"
User should be able to use postgres row level security.

Possible approach:
- follow postgrest authentication
- give customer ability to pass through their own keys/spec
- do this on our own API gateway (won't work for self hosted) <--- favourite for now

[code]

[2020-02-05 03:29] dragarcia opened #17 "Elixir Mapper does not account for array data types"
* **I'm submitting a ...**
- [ ] bug report
- [x] feature request
- [ ] question about the decisions made in the repository
- [ ] question about how to use this project

[2020-02-07 09:52] #15 closed

[2020-02-07 09:56] kiwicopple commented on #15
From the git commit:

This is a partial implementation that allows filtering only with the "eq" filter

Users can do something like this:
realtime:public:users:id=eq.2

This will only send the notifications when the user ID 2 is updated.

There are a lot of missing filters but these will be more complicated as it will require some sort of stateful introspeciton of each room. This is a good early w

[2020-02-17 01:16] #17 closed

[2020-02-17 03:42] #13 closed

[2020-02-17 04:25] awalias opened #18 "Include date in log timestamps"
currently logs look like:
`02:11:23.876 [error] GenServer #PID<0.9788.0> terminating`

Would be useful to change the timestamp to be datetime instead of just time

[2020-02-25 07:54] kiwicopple opened #20 "Changes should be broadcast for individual event types: INSERT, UPDATE, DELETE"
At the moment we are only sending out on `*`.

[2020-02-25 09:07] #20 closed

[2020-02-25 17:37] awalias opened #21 "Realtime dropping connection intermittently"
Running the test script in supabase-js [https://github.com/supabase/supabase/blob/master/libraries/supabase-js/test/integration/testRealtime.js](https://github.com/supabase/supabase/blob/master/libraries/supabase-js/test/integration/testRealtime.js)

I get intermittent `Network timeout. Still waiting...` and `REALTIME DISCONNECTED` errors

When I inspect the server logs, there are a couple of erro

[2020-02-26 00:47] kiwicopple commented on #21
Dubugged these a bit on

I think the culprit is [this line](https://github.com/supabase/realtime/blob/2f7871ad76b19ab370d9dbb61c5c4a8739774b64/server/lib/realtime/replication.ex#L237).

As DELETE transactions don't have `change.record` to enumerate over (unless the user has set `REPLICA IDENTITY FULL` in postgres). It does have the "old_record" though (i think), so we might be able to enumerate ov

[2020-03-09 07:29] awalias opened #22 "crash: replication slot already exists"
[code]

[2020-03-09 07:31] awalias commented on #22
I'm guessing we just need to catch the exception and ignore, assuming the replication slot does in fact already exist?

[2020-03-16 03:40] kiwicopple commented on #21
Looks good. The patch for the other issue just a matter of wrapping this block with an `if change.record`

<img width="538" alt="image" src="https://user-images.githubusercontent.com/10214025/76721286-80a21b80-677a-11ea-8ec7-10c2afca8473.png">

The reason why (i think) is that this function is getting called when the replication starts, and there are no actual changes in the transaction.

Let's te

[2020-03-16 04:46] awalias commented on #21
last remaining thing to fix is ```04:33:14.166 [error] GenServer #PID<0.2513.0> terminating
** (KeyError) key :record not found in: %Realtime.Adapters.Changes.DeletedRecord{columns: [%Realtime.Decoder.Messages.Relation.Column{flags: [:key], name: "id", type: "int8", type_modifier: 4294967295}, %Realtime.Decoder.Messages.Relation.Column{flags: [:key], name: "inserted_at", type: "timestamp", type_mo

[2020-03-16 04:48] awalias commented on #21
oh sorry just saw you already posted the fix above, will make the change now, I tested the previous fix and it works well

[2020-03-16 06:20] awalias commented on #21
fixed in `0.7.2`

[2020-03-16 06:20] #21 closed

[2020-03-21 11:17] kiwicopple opened #24 "Connecting to a distant RDS seems to fail"
With my local machine in Singapore, I couldn't get this to connect to an RDS instance in the US.

Steps to replicate:

1. Go to RDS (somewhere far away)
1. Go to Parameter groups
1. Create a Postgres11 parameter group, and set the rds.logical_replication to `1`
1. Create a new RDS (free tier is fine).
1. Update the Security Group to be fully permissive - allow all IP's (just to be safe)
1. Try to

[2020-03-21 11:19] kiwicopple commented on #24
epgsql (https://github.com/epgsql/epgsql/) seems to have support for `timeout`, but that doesn't appear to work either

[2020-03-26 04:39] awalias commented on #22
Paul Copplestone  6 minutes ago
https://github.com/supabase/realtime/blob/04d7c1e27d8b66e9c9e6e805b6d52a256ffb4011/server/lib/adapters/postgres/epgsql_implementation.ex#L56
server/lib/adapters/postgres/epgsql_implementation.ex:56
  defp create_replication_slot(epgsql_pid, slot) do
<https://github.com/supabase/realtime|supabase/realtime>supabase/realtime | Added by GitHub

Paul Copplestone  5 minut

[2020-04-03 08:43] agbilotia1998 commented on #18
@awalias I was unable to apply though gitcoin, was getting some error related to configuration:
Proposal for solution:
Add `$date` in format section of config for this file - https://github.com/supabase/realtime/blob/master/server/config/config.exs

[2020-04-03 08:47] mul1sh commented on #18
@awalias thanks for the approval submitting a fix for this in a few :)

[2020-04-03 10:26] #18 closed

[2020-04-29 13:07] dragarcia commented on #9
![image](https://user-images.githubusercontent.com/26374889/80598199-941ff200-8a5b-11ea-98c6-27e88bb5755e.png)
From the [phoenix-js documentation](https://hexdocs.pm/phoenix/js/), we could not actually have more than one channel assigned to a socket that are listening to the same topic. The more recent one will just override the other.

The workaround here is that if you would want to have two cha

[2020-04-29 13:07] #9 closed

[2020-05-05 02:28] kiwicopple opened #28 "Set up github actions for testing"
It would be great if this repo ran the tests every time it received a new push.

See [here](https://github.com/supabase/postgrest-js/blob/master/.github/workflows/nodejs.yml) for an example

[2020-05-06 11:52] kiwicopple commented on #16
moved discussion here: https://github.com/supabase/supabase/issues/64

[2020-05-06 23:51] kiwicopple commented on #16
related: https://github.com/supabase/supabase/issues/64

[2020-05-19 02:56] kiwicopple opened #29 "Set up with Layer CI - https://show.layerci.com/"
Our batch mates just released this: https://show.layerci.com/

We can put this on their page by:

1. Log in
2. click "Submit project"
3. Post title: "Supabase Realtime"

For the configuration, it probably easiest to modify the config used for Redash:

[code]

## Notes

![image](https://user-images.githubusercontent.com/10214025/82279551-66293000-99bf-11ea-96a1-2615d6a7ba3a.png)

[2020-05-19 03:03] kiwicopple opened #30 "Multiple builds"
At the moment we only offer this as a docker image. We probably want these as a minimum to be built, version, and the artifacts stored:

Now:
- [x] Elixir build - https://hexdocs.pm/phoenix/releases.html
- [x] Docker image

Next:
- [ ] Digital ocean image
- [ ] AWS image

Recommendation:
- Packer: we use Packer on @supabase/postgres and our KPS server. It would be good if we can use the same so th

[2020-05-19 03:08] kiwicopple opened #31 "Clean up config"
At the moment we have a lot of config sitting in here:
https://github.com/supabase/realtime/blob/1d7cf1162eb40e5f3c6c9349e2509cd7f7f8914c/server/lib/realtime/application.ex#L13

This was a quick hack, and I think it can be refactored out to the config folder so that it follows normal convention and is a bit cleaner:
https://github.com/supabase/realtime/tree/master/server/config

[2020-05-19 03:14] kiwicopple opened #32 "Landing page updates: Phoenix Dashboard"
When you start the server, there is just a page that says: "visit supabase.io"

We can do better than that. I recommend with either do one/both of:

1. A page describing what this server is, the URL and the port to access it on
2. Phoenix dashboard: https://github.com/phoenixframework/phoenix_live_dashboard

[2020-05-19 03:22] awalias commented on #30
@kiwicopple this would be an Ubuntu image with just the realtime app installed - would you expose the realtime port directly? Or would we still want kong with single route? (thinking about apikeys/rate-limiting etc.)

[2020-05-19 03:43] kiwicopple opened #33 "Refactor the notifiers logic and plan for connectors"
At the moment our decoder gen_server is doing a lot of work. We should (maybe) refactor it into smaller gen_servers, specifically this part here:

https://github.com/supabase/realtime/blob/1d7cf1162eb40e5f3c6c9349e2509cd7f7f8914c/server/lib/realtime/replication.ex#L202

This part is where we parse the data changes and then send it to various channel topics:

![image](https://user-images.githubuser

[2020-05-19 03:46] kiwicopple opened #34 "Pick up from last wal_position"
When we start the server, it reads from `wal_position` = `{"0", "0"}`:

https://github.com/supabase/realtime/blob/1d7cf1162eb40e5f3c6c9349e2509cd7f7f8914c/server/lib/realtime/application.ex#L33

We need a way for the server to keep track of its position and then pick up where it last read from (if the server dies)

[2020-05-19 03:48] kiwicopple commented on #34
I imagine with this one, we are going to need a database of some sort. Ideally it isn't another whole install and can just be done within the server itself. Something like SQLite. I know that elixir also has strong support for mnesia, but that's beyond my knowlege of whether this is a good use case

[2020-05-19 04:18] awalias commented on #30
@soedirgo just spoke to paul, the first step here is to actually just automate the building and releasing of the realtime app as a binary

so can forget about all the VM stuff and digital ocean for a moment (although this will probably be the next step)

What we need is that each time somebody [tags a release](https://stackoverflow.com/questions/18216991/create-a-tag-in-a-github-repository), githu

[2020-05-19 04:22] awalias commented on #30
also just for clarity, we only want to build the **realtime server** for now, so everything found within this folder: https://github.com/supabase/realtime/tree/master/server

[2020-05-20 10:58] #28 closed

[2020-05-21 10:59] kiwicopple commented on #34
Following my own advice to post on GH:

We may not even need to store state. The master server keeps track of the subscribers progress for purging. It may even be possible to ask the master PG "give me everything from the last time I acknowleged you"

[2020-05-21 11:47] fracek commented on #34
From what I understand, at the moment we are using a temporary replication slot, this means that when the client disconnects (e.g. on crash) the replication slot is dropped.

I then tried to look at the `pg_replication_slots` table using a named replication slot

[code]

When I insert a record from the example web application we can see the `restart_lsn`/`confirmed_flush_lsn` values increment.

[c

[2020-05-21 14:29] kiwicopple commented on #34
that's amazing news. If that's the case, then I believe we can just update this line right?

https://github.com/supabase/realtime/blob/9d24b6010c900dc81d207fc1b7a7e0a0a7a5844f/server/lib/realtime/application.ex#L32

Looks like it from the comments. And according to the comments we can also leave it at `{0, 0}` so that the master can decide what to start sending:

https://github.com/supabase/realti

[2020-05-21 14:39] kiwicopple commented on #29
Maybe better to try it with Postgres first - https://github.com/supabase/postgres/issues/17

[2020-05-21 18:46] fracek commented on #34
Yes, that's exactly how I plan to implement it!

[2020-05-22 05:31] kiwicopple commented on #34
Nice one @fracek 👍

[2020-05-22 05:31] #34 closed

[2020-05-22 07:27] awalias commented on #34
@kiwicopple Do I need to add this env var to KPS once we include this latest realtime version?

[2020-05-22 07:30] kiwicopple commented on #34
Ah yes please @awalias . The env var is `SLOT_NAME`

[2020-05-22 08:59] fracek commented on #33
I think this one was fixed by #36. You can add connectors by adding a new genserver and notify it from the replication genserver.

[2020-05-22 09:12] kiwicopple commented on #33
Great - remaining questions:

- let's say I create a genserver called "connectors" which stores all the different locations that a customer wants to send the events too
- I create a genserver called "webhook" which will POST the event to a URL

As a customer, I want to start the server and have it send the events to 2 endpoints:

- https://webhook.site/44e4457a-77ae-4758-8d52-17efdf484853
- https:

[2020-05-22 09:40] fracek commented on #33
One option is to use config providers in `releases.exs` and add a [provider](https://hexdocs.pm/elixir/Config.Provider.html) for the configuration.

Another (and IMHO better) option is to use an agent to hold the configuration. At the beginnig you can keep it simple (simply read from a json configuration file), but can be easily improved by adding configuration through HTTP endpoints/consul etc. T

[2020-05-22 11:51] awalias commented on #34
KPS is shipped and frontend/worker will ship with next deployment

[2020-05-22 12:11] kiwicopple opened #38 "Add release notes to each release"
I think we can automate this somehow with `gren`, which should pick up all the issues which were closed between tags

[2020-05-22 12:41] fracek commented on #33
Can you expand more on how you plan to allow customers to configure the service from the dashboard? How will this configuration be accessible by realtime? (http, direct db access, etc.) I'm trying to think of a design that's easy to setup but that can also be expanded in the future to let customers load the configuration from multiple sources.

[2020-05-23 08:52] kiwicopple commented on #33
I'll put this one on Slack with a video

[2020-05-23 09:59] fracek commented on #33
So I tought more about this and if the configuration resides outside the process (e.g. json file, supabase server) there is no need for an agent. We would have a `ConfigurationManager` whose repsonsibility is to fetch the configuration and parse it into elixir types.

Then I add a `Connectors` genserver that simply forwards notifications to other connectors (for now only webhooks). The `Webhooks`

[2020-05-23 10:21] kiwicopple commented on #33
This looks perfect with perhaps one missing piece: the `SubscribersNotification` genserver that you just split out. At the moment that sits between `Replication` and `Channels`.

The `Connectors` genserver needs to also "pull apart" the events into many different events (eg: `*`, `INSERT`, `columns.eq...`). We have 2 options:

1. the `SubscribersNotification` genserver could also send everything t

[2020-05-23 12:32] fracek commented on #33
Agree with option 1, so the final design for now is like this.

![Untitled-2020-04-21-1617 (3)](https://user-images.githubusercontent.com/282580/82730706-afe48400-9cf9-11ea-8cad-7cac6b6f7204.png)

Connectors job is to dispatch messages to the right connector based on the event type.

[2020-05-23 12:41] kiwicopple commented on #33
Looks perfect 👍

Love the diagrams

[2020-05-26 00:18] kiwicopple commented on #30
@soedirgo this one is done now right? nothing remaining?

[2020-05-26 02:43] soedirgo commented on #30
Still, working on 3 and 4, should be done today

[2020-05-26 04:40] kiwicopple commented on #30
all good! take your time and let me know if you get stuck

[2020-05-26 11:16] soedirgo commented on #30
Ack, okay, this is more difficult than I thought. (And I should stop saying "today" or "this week")

What I've done:
- Build from a base image (only testing on DO for now)
- Let the user pass user variables for `DB_HOST`, `DB_PASSWORD`, `DB_PORT`, etc. to ansible
- Build the Phoenix app through ansible (within the builder, not the final image)
- Connect to a database from `DB_HOST` (again, within

[2020-05-26 11:30] kiwicopple commented on #30
Quick question - this part sticks out to me:

Does this mean that you're building the phoenix application on the DO image? eg - installing elixir/mix etc, then running a build?

For this question:

No - this is a standalone server, so it will only run `realtime` and connect to a separate database specified by `env_vars`

[2020-05-26 11:35] soedirgo commented on #30
Yeah, I could just get a binary from the releases, but unsure if that's gonna cause incompatibility issues.

[2020-05-26 11:42] kiwicopple commented on #30
Just get the binary! Decrease the surface area. Probably better if we switch the docker to do the same - then we can use a slim image

[2020-05-26 12:01] awalias commented on #30
hey @soedirgo this is a really good intro and cheatsheet to systemctl - the tool we use to manage systemd: https://www.linode.com/docs/quick-answers/linux-essentials/introduction-to-systemctl/

here is the realtime systemctl file from KPS: https://github.com/supabase/kps/blob/master/ansible/files/supabase.service.j2

on the question of env vars the above file also shows how you can specify which f

[2020-05-26 12:09] soedirgo commented on #30
Gotcha, will grok into those!

On that note, what kind of hardening should I use? Just as a bare minimum. I know postgres uses UFW to block anything but 22 and 5432.

[2020-05-26 13:58] awalias commented on #30
@dragarcia might have some learnings here from the AWS and DO listing processes - I saw one thing which said make sure you don't use standardized defaults for secure seeds / passwords etc.

[2020-05-27 01:45] dragarcia commented on #30
aye let me document a checklist for the marketplaces that we're in so far and share it here later on.

[2020-05-27 03:46] soedirgo opened #39 "v0.7.3 & v0.7.4 doesn't include the whole `mix release` artifacts"
I should've checked this beforehand, but I just found out that `mix release` doesn't produce a single file binary, but rather a shell script that requires many other artifacts in its parent directories to work. 🤦‍♂️

I'll figure out how this should be done as I work on the AMI/DO images, but for now I'll remove the artifacts until I got this right.

[2020-05-27 03:52] dragarcia commented on #30
Hope this helps!
https://github.com/supabase/home/issues/17

[2020-05-27 04:03] soedirgo commented on #30
Awesome, everything in one place. Thanks!

[2020-05-27 15:39] redlock opened #40 "Question: Performance characteristics"
Hello,
Can this replace https://deepstream.io/ in terms of performance for high volume stock market app?

Thanks

[2020-05-27 16:42] awalias opened #41 "Special character pg passwords"
some combinations of special characters passed as DB_PASSWORD seem to be causing connection failures - the password may need to be uri encoded before trying to connect to postgres

[2020-05-27 16:44] awalias commented on #41
fails with password `!@£$%^&*()_+` when spinning up from supabase dashboard - haven't tested the realtime component individually

[2020-05-27 17:11] awalias commented on #41
[code]

[2020-05-27 22:06] fracek commented on #33
I made progress on this. A couple of questions before I can open a PR:

 * I added a filter by event type and schema/relation, but not on column value (I think it needs a separate discussion for it).
 * In the configuration, I added what we need for the connectors. Basically it loads the json configuration and parse it into a nice datastructure we can work with. This is kinda related to #31, but I

[2020-05-28 00:10] kiwicopple commented on #33
Nice Francesco

👍

I think that's good - we can send all the logs to BigQuery and set up alerts for the user.

Agreed

It's one I wanted to discuss more too. At the moment we are only filtering on equality. It would be good to throw around some ideas how we can do more/better. Let's discuss on slack or in a new issue

[2020-05-28 09:17] fracek commented on #33
We can discuss it in a separate issue. For now I will stub the transaction filter module with just the basics.

[2020-05-28 10:28] awalias commented on #41
looks promising https://stackoverflow.com/questions/39757303/encodeuricomponent-in-elixir

[2020-05-28 11:02] fracek commented on #41
I'll look a this later today.

[2020-05-28 11:48] #30 closed

[2020-05-28 13:38] soedirgo commented on #39
Uploaded the artifacts 🎉

[2020-05-28 13:38] #39 closed

[2020-05-28 13:51] fracek commented on #41
I can't repro this. Can you try to log `epgsql_params` in `application.ex` to make sure bash/zsh sets the environment variable correctly and doesn't do any fancy subsitution?

[2020-05-29 07:28] kiwicopple commented on #16
Closing this and tracking it in our main repo for a single location discussion

[2020-05-29 07:28] #16 closed

[2020-05-29 07:34] kiwicopple commented on #40
Hey redlock, we're a bit swamped right now but we'd love to do some benchmarks at some stage.

Is there a deepstream benchmark or performance test you can point us towards?

[2020-05-29 08:50] redlock commented on #40
Here is a benchmark they have done a while ago:
https://deepstream.io/info/performance/four-billion-messages-per-hour/

[2020-05-29 09:13] kiwicopple commented on #40
Wow that's a tidy benchmark. We're still iterating on this server so it makes sense to hold the benchmark until we have a stable set of features. Once it's stable then we will loop back on this one.

It's important to note that this repo is for *listening* to your Postgres changes. You don't send events through this elixir server, it simply picks up the database changes and broadcasts them.

To tr

[2020-05-29 09:16] kiwicopple commented on #40
I know this hasn't yet answered your question @redlock - it could be a while before we can close this one. If you're happy to wait, feel free to close it and we'll run the benchmarks before we reach `1.0`.

[2020-05-29 09:26] awalias commented on #41
I will try and repro this

[2020-05-29 09:26] awalias commented on #41
but solved for the meantime by a change in the infrastructure worker

[2020-05-29 11:45] retendo opened #43 "JavaScript examples don't work for me"
Hey,

just wanted to let you know that there seems to be an error in the JS examples.
I'm trying to get this to work on a node.js server. (not a JS expert)
The below code block does not work for me.
[code]

what does instead work is the following:
[code]

Thanks for the great lib :)

[2020-05-29 12:20] kiwicopple commented on #43
Hey @retendo ! Thanks for persisting long enough to make it work.

[code]

You nailed it. The example at the the top is for "browser" JS and the one at the bottom is for "server" JS.

As a short (not entirely accurate) history of JS: at the start Javascript was only really used to do little things in the browser (little animations). Then people started building whole websites with it.

Then google

[2020-05-29 12:47] retendo commented on #43
I think the more important change should be the ".channel" in the between join() and on( ... ).
This seems unrelated to node.js/browser differences.
Or is this somehow working in the browser?
It seems that .join() returns a Push object instead of a Channel.

[2020-05-29 13:04] redlock commented on #40
Thanks for the response. Just a quick question. The realtime part will wait until the db has made its changes before sending the update to listeners correct?

This might add a bottleneck here if thousand of updates per second are being sent. Could there be an option to send the update without waiting for the db? For cases where latency is paramount (High frequency trading, multi player gaming, etc

[2020-05-29 18:27] cultofmetatron opened #44 "guide for dropping this into an existing phoenix app?"
I'm currently building an mvp using phoenix. subscribing to database changes is an issue I've been looking into and I was researching debezium for that purpose. This looks like a much better fit however. Are there any existing docs on how to integrate this into an existing phoenix app?

Also, do you guys have clients for ios/android?

[2020-05-29 21:48] jfoucher opened #45 "realtime_web npm error in docker"
This is what I get when trying to run this project according to the readme:
[code]
The db and realtime images work fine.
Any advice ?
Thanks

[2020-05-31 01:38] kiwicopple commented on #40
That's correct. This repo functions as a [CDC](https://en.wikipedia.org/wiki/Change_data_capture), which gives some benefits and some tradeoffs.

*Benefits*

- The change can be triggered from anywhere. i.e. the transactions don't have to flow through Supabase to bubble up through the realtime server. If the change hits the database, it _will_ be broadcast by this server
- Guaranteed delivery. If

[2020-05-31 01:42] kiwicopple commented on #43
I'll have to check this out. Do you have an existing repo that I can fork? If it's private no probs, I'll create a small express demo in this repo

[2020-05-31 01:52] kiwicopple commented on #45
I just tested using a fresh instance and I wasn't able to reproduce this. It shouldn't be anything to do with your environment since it's docker. Can you try to rebuild?

[code]

Let me know if that works.

[2020-05-31 02:02] kiwicopple commented on #44
Thanks for checking it out. One reason we developed it was because Debezium didn't fit our needs too.

This repo serves more as a "standalone" server, but if you want to drop the functionality into your own phoenix app we suggest you check out [Cainophile's library](https://github.com/cainophile/cainophile) which gave us a lot of the baseline functionality. It can be installed as a hex module and

[2020-05-31 10:56] jfoucher commented on #45
Nope, same thing sorry :

[code]

[2020-05-31 12:06] kiwicopple commented on #45
strange. Do you have any more details about your environment? Or anything that could help to reproduce the error?

[2020-05-31 12:51] #29 closed

[2020-05-31 13:05] kiwicopple commented on #33
This change is amazing, thanks @fracek. It opens up a number of new possibilities.

It looks like we have 2 remaining points to discuss

- the transaction filter module
- a way to dynamically update/create the connectors config

Should we spin off separate issues for those?

[2020-05-31 13:11] fracek commented on #33
I think they're both issues important enough to require their own issue.

[2020-05-31 13:13] kiwicopple commented on #33
Great - I imagine you already have some ideas for them both? Do you want to start the issues and add your thoughts?

I'll close the one

[2020-05-31 13:13] #33 closed

[2020-05-31 13:47] retendo commented on #43
Got some example code right here:
https://gist.github.com/retendo/3e2ddb90a29dfd0f5a2ab81729c7ed29

This works with the adjusted sample code

[2020-05-31 14:06] fracek opened #47 "Transaction Filter Definition"
In #33 we started discussing how a transaction filter should look and work.
I think the first step is discuss how you see users using this feature.

 It's a good idea to start by defining what we want to achieve with the filter and only then define its synatx. If we get the core idea right we can avoid a ridiculously complex parser and make it easy to extend in the future.

The language **should**

[2020-05-31 14:20] fracek opened #48 "Dynamic Configuration"
The `realtime` module supports quasi-dynamic configuration from a json file. In the future it should be completely dynamic so that users can add/remove webhooks and other connectors without restarting the application. This last requirement rules out using `Config.Provider`.

Some issues that came up while implementing #46:

 * If users can add webhooks from the web application, where do we store t

[2020-05-31 15:28] jfoucher commented on #45
Mac OS 10.15.4 (19E2269)
[code]
[code]
[code]
Anything else ?

[2020-05-31 20:30] redlock commented on #40
Thanks for the response. Looking forward to the benchmarks.

[2020-05-31 20:30] #40 closed

[2020-06-01 00:01] kiwicopple commented on #40
thanks for checking us out redlock. If I can remember I'll post the benchmarks link here so you get a notification

[2020-06-01 16:38] teymour-aldridge opened #55 "A Rust implementation?"
I noticed that there is a Rust implementation of the Postgres client, but not for the server. I think that the server would benefit from the speed a Rust implementation (possibly more than the client) could bring.
This should maybe be in [the realtime repository](https://github.com/supabase/realtime) instead.

[2020-06-04 08:23] awalias commented on #22
@kiwicopple I think we fixed this one?

[2020-06-04 08:28] awalias opened #50 "KeyError key record not found"
Possibly introduced in https://github.com/supabase/realtime/tree/951ef2350465d42eb6f741f4659ed5b6fda4cd7b

Realtime version 7.0.5 @ 951ef2350465d42eb6f741f4659ed5b6fda4cd7b

[code]

[2020-06-04 08:41] awalias opened #51 "Version number is hardcoded"
![image](https://user-images.githubusercontent.com/458736/83734944-3f871c80-a682-11ea-8a99-03634a1e8572.png)

[2020-06-04 09:57] soedirgo commented on #51
Hmm, I don't think there's an easy way around this. I've looked into high profile Elixir projects (Phoenix, Credo, Distillery, HTTPoison), and none of them used automated solutions.

There are some prior art from the JS world: `version` isn't required at build time, so some projects like Docusaurus don't set this. I also recall some automated versioning solution that simply set it to "0.0.0-automa

[2020-06-04 09:58] fracek commented on #50
The problem seems to be in the channel notifier

https://github.com/supabase/realtime/blob/f830e3ea4ba83e27fa1781c6e901e906634ef4f1/server/lib/realtime/subscribers_notification.ex#L63-L69

You can see the definition of `NewRecord`, `UpdateRecord` and `DeleteRecord` are slightly different in that `NewRecord` has a `record` field, same for `UpdateRecord`. When we delete a record there is no new reco

[2020-06-04 10:08] kiwicopple commented on #50
Note that UpdateRecord will only receive the old value in some cases:

`Logger.info inspect(eq)`

We should change this to a `debug` rather than `info`

@awalias did you have a repo you're testing on? Othewise I can mock it up into the Next.js example for testing

[2020-06-04 11:55] kiwicopple commented on #22
I think it was one that you were seeing on local only? I don't recall actually fixing it, but I also haven't seen it and wouldn't know how to replicated it either.

If you're happy, we can close and visit it again if we ever see it again

[2020-06-04 12:01] kiwicopple commented on #51
Good idea Bobby - for this task, let's just document down the release steps (maybe in RELEASE.md?) and then we can close this one up

[2020-06-04 13:56] awalias commented on #50
sorry, this was on a user's box so I don't have the delete details

[2020-06-05 08:43] awalias commented on #50
hotfixed with 2ece7b1a5061e5988ea5f9d03f2f70f869ebca5d I'm guessing it will need further work to cover the cases you mentioned above?

[2020-06-05 08:45] kiwicopple commented on #50
That's perfect @awalias - should work for `UPDATE` too

[2020-06-05 09:20] awalias commented on #50
getting a different error now:

[code]

[2020-06-05 12:25] #31 closed

[2020-06-05 19:22] fracek commented on #50
I can't reproduce this. I tried to delete and update rows manually using `psql` and the process does not crash.

[2020-06-06 07:35] kiwicopple commented on #50
```Last message: {:epgsql, #PID<0.2579.0>, {:x_log_data, 110555416, 110555416, <<67, 0, 0, 0, 0, 0, 6, 150, 240, 232, 0, 0, 0, 0, 6, 150, 241, 24, 0, 2, 74, 12, 113, 75, 65, 82>>}}```

We might be able to run this through one of the tests scripts to replicate. I'm a bit tied up but can get to this later tonight or early tmr

[2020-06-06 08:01] kiwicopple commented on #50
@awalias can you let us know where you are finding these errors? On the customer boxes? Are they definitely on the latest commit?

[2020-06-06 08:34] kiwicopple commented on #50
OK found the cause of the error:

[code]

Fails on this:

[code]

The cause must be `sources` which is a stringified array `"[{\"id\": \"c5e37367-39d7-4182-9459\", \"name\": \"redacted\"}}]"`, and then it cant send out the notify to the RealtimeChannel

@fracek suggested improvements would solve this (we wouldn't do an equality check on an array) - `table_topic <> ":" <> k <> "=eq." <> v`

For now

[2020-06-06 08:50] kiwicopple commented on #50
actually `"products" => :unchanged_toast,` is the culprit. Fixing

[2020-06-06 08:56] kiwicopple commented on #50
@awalias this is fixed. I don't know the release process that you're using for KPS. Should I bump it ? https://github.com/supabase/realtime#releases

[2020-06-06 09:56] kiwicopple commented on #50
Reopening until this is patched & deployed

[2020-06-06 11:18] awalias commented on #50
thanks guys for getting to the bottom of this

I will bump and release tonight

[2020-06-06 19:39] Overdozed commented on #43
in addition to that wildcart paths doest work on channel path.
socket.channel('realtime:public:users') -> works
socket.channel('*') -> broken
socket.channel('realtime:*') -> broken
socket.channel('realtime:public:*') -> broken

[2020-06-07 08:00] retendo commented on #43
socket.channel('realtime:public') works, though. Just omit the last colon.

[2020-06-07 12:34] kiwicopple commented on #43
Hey @retendo sorry for the incommunicado - I'm looking at this & building a basic nodejs example now, but probably won't finish until tomorrow morning my time.

FYI: These shouldn't work

[code]

But these should

[code]

Use the "on" to listen to different "event types". Using the code in your gist:

[code]

Hope that helps a bit! I haven't tested your code yet but it looks great! I see exactly w

[2020-06-07 19:17] retendo commented on #43
For auth, specialized socket APIs that the underlying database structure and some payload modifications.

[2020-06-08 01:35] kiwicopple commented on #43
Small example pushed for you @retendo. I used your code as a baseline so thanks for contributing

Check out the difference between my first commit and my second: https://github.com/supabase/realtime/commit/d4c9eced516518f26d0174cc86508dc9530d0738

Basically `socket.channel()` returns the channel, and `socket.channel.join()` returns the join event. So you were "accessing" the channel through the `j

[2020-06-08 10:54] soedirgo commented on #51
Releasing instructions have been updated on README.md, so closing this issue 🎉

[2020-06-08 10:54] #51 closed

[2020-06-08 11:18] retendo commented on #43
That makes sense. In the original browser based example it was all chained together, so I tried to replicate it that way. But the changes in your second commit actually make it clearer.

[2020-06-08 11:42] kiwicopple commented on #43
Yeah especially in authorization. We are working on it now, so it's good to get more perspectives/approaches.

Thanks for pitching in here. If you get stuck with anything else just let us know. I'll leave this to close unless you have anything remaining

[2020-06-09 03:19] #44 closed

[2020-06-09 05:42] WoodyDark opened #54 "How do you work with authentication and authorization?"
Question 1:
I saw that [#44 ](https://github.com/supabase/realtime/issues/44) mentioned that this is suppose to be a standalone server. How do we handle authentication in this case?

Question 2:
If a User has_many Blogs, how do I ensure that the current_user is only subscribing to changes of blogs that belong to them?

Question 3:
Is there a recommended way to handle business logic?

[2020-06-11 13:52] kiwicopple commented on #43
Closing now, feel free to reopen at any stage

[2020-06-11 13:52] #43 closed

[2020-06-11 14:03] kiwicopple commented on #54
Hey @WoodyDark. Note that this repo is a _part_ of Supabase, so everything I comment here is about this specific repo, not Supabase (which bundles this server + many other components).

This server is a case of "do one thing well". It's brings event sourcing (realtime) to postgres, and we are assuming that you will put it behind a proxy. You can see that `retendo` is doing this in issue #43 .
That

[2020-06-11 14:03] #54 closed

[2020-06-11 14:10] kiwicopple commented on #55
I'm going to close this one @teymour-aldridge , but feel free to reopen if you have any other questions

[2020-06-11 14:10] #55 closed

[2020-06-11 14:16] awalias commented on #50
shipping

[2020-06-11 14:16] #50 closed

[2020-06-12 07:21] soedirgo commented on #32
We probably don't need this right now, we can revisit landing page in the future.

[2020-06-12 07:21] #32 closed

[2020-06-12 07:51] #41 closed

[2020-06-12 11:01] kiwicopple commented on #45
Sorry for the incommunicado @jfoucher .

I think it might be easier in this case to side-step docker for the frontend. Could you please follow the steps in this one?
https://github.com/supabase/realtime/blob/master/examples/next-js/README.md

You can run them in 2 separate terminals - one for the backend and one for the frontend.

I also set up a simple NodeJS example here: https://github.com/supa

[2020-06-18 11:13] kiwicopple commented on #45
I'll close this up for now, but feel free to reopen if you can't get the instructions above to work

[2020-06-18 11:13] #45 closed

[2020-07-09 03:38] kiwicopple opened #56 "Add self-hosting instructions"
AWS: https://aws.amazon.com/marketplace/pp/B089N4FH7N/
DO: https://marketplace.digitalocean.com/apps/supabase-realtime
Docker: https://hub.docker.com/r/supabase/realtime

Realtime was released to the marketplaces, which means it is now simpler to get started. We should start documenting the process for hosting and installing Realtime.

I think we should move this documentation [onto our website](h

[2020-07-10 05:35] kiwicopple commented on #38
This can be done using `semantic-release`, as completed by @soedirgo here in our other repo: https://github.com/supabase/pg-api/blob/9c1501d82199b91d00abdf6644ca961078d4525c/.github/workflows/release.yml#L28

However we will need to figure out if there is a library which can do this with Elixir

Notes from Bobbie:

I think we should stick to the regular strategy of major.minor.patch. It is, in the

[2020-07-14 17:06] soedirgo commented on #38
Closed by #57.

[2020-07-14 17:06] #38 closed

[2020-07-17 18:41] soedirgo commented on #56
Closed by [supabase/supabase#114](https://github.com/supabase/supabase/pull/114).

[2020-07-17 18:41] #56 closed

[2020-07-21 06:31] lacoprof opened #59 "Docker-compose wont start - eafnosupport (address family not supported by protocol family)"
Iam getting error, when following the instructions https://supabase.io/docs/realtime/docker :

[code]

[2020-07-21 10:32] kiwicopple commented on #59
Hey @lacoprof !

`rnbackend` - would you mind sharing your docker-compose file? We can test it out and let you know if there are any changes required

[2020-07-24 08:27] lacoprof commented on #59
Thanks, iam using the default one https://github.com/supabase/realtime/blob/master/docker-compose.dev.yml
docker-compose --version
docker-compose version 1.25.0, build unknown
 docker --version
Docker version 19.03.8, build afacb8b7f0

[2020-07-25 09:39] soedirgo commented on #59
Hey @lacoprof, does your machine support IPv6? Judging from these lines:

[code]
[code]

It seems to be having trouble handling IPv6's localhost. I don't have a machine without IPv6, so I couldn't reproduce this.

[2020-08-02 13:19] lacoztm commented on #59
Thanks @soedirgo , my computer boots with ipv6 disabled in grub, after reenabling it works.

[2020-08-02 16:09] #59 closed

[2020-08-04 12:12] retendo opened #61 "Database disk usage issue?"
I connect the supabase/realtime server to a managed postgres db on DigitalOcean.
There seems to be an issue with disk usage, which is related to the realtime server, as in: If I boot up the realtime server, the db's disk usage will at some point begin to start rising. After reaching around 96% it will drop down, but it will rise again shortly after. If I shut it down, then the disk usage will drop

[2020-08-05 05:48] kiwicopple commented on #61
You're becoming a real power user @retendo , thanks for digging up all these niche issues. We saw this once, but it was due to a rogue query. Can you try a few things?

- Run `pg_stat_activity` and check if there are a few long-running queries?
- Confirm if you are dumping a large amount of updates/inserts each day? (which will trigger a huge amount of changes to the WAL)
- check the [size of the

[2020-08-05 05:55] kiwicopple commented on #61
It might also be worth disconnecting everything from the database (including Realtime) and see if this is still happening, to help isolated the root cause

[2020-08-05 07:18] retendo commented on #61
I already did that, and it was only happening when realtime server was connected. I have 3 services running and I tried almost every combination. It's only happening when realtime is connected, no matter which other services are connected or not.

Sure, I'll drop you a mail.

[2020-08-11 21:55] soedirgo commented on #61
Copying my message from Slack:

[2020-08-12 20:09] cpursley opened #62 "Extract out replication functionality"
I'd love to use just the replication / data change functionality directly in Elixir so that I can do stuff on the data (no need to publish the data out). Is there any chance this functionality could be extracted out into it's own library? Or can you recommend how I can go about it myself?

[2020-08-13 02:47] soedirgo commented on #62
Hi @cpursley! This was discussed here: https://github.com/supabase/realtime/issues/44.

In short, this is meant to be a standalone server. You can use [cainophile](https://github.com/cainophile/cainophile) if you want the CDC functionality as a library (though it doesn't seem to be active, unfortunately).

[2020-08-13 09:25] soedirgo commented on #24
So I just tried this while working on retendo's case, and it worked fine for me, though I'm using a `release` instead of `phx.server`.

I'll close this since it's an old issue, but feel free to reopen if the issue persists.

[2020-08-13 09:25] #24 closed

[2020-08-13 09:30] #62 closed

[2020-08-16 12:22] soedirgo commented on #61
I was able to replicate this on both DO and AWS. From AWS:

<img width="439" alt="Screen Shot 2020-08-16 at 7 55 17 PM" src="https://user-images.githubusercontent.com/31685197/90333695-8f774d80-dffa-11ea-95ec-a3cd1c06ee72.png">

Unlike DO, the disk space doesn't get freed once it's full. Looking at another monitor, it seems like transaction log is the culprit:

<img width="442" alt="Screen Shot 20

[2020-08-25 20:45] kwakwaversal commented on #50
Just as a gentle reminder, the `latest` docker image for `supabase/realtime` still has this bug. I tracked it down to this issue and rebuilt from the latest code in the repo using the provided `Dockerfile` and it has resolved.

[2020-08-25 21:21] kwakwaversal commented on #40
@kiwicopple sorry to bump this closed issue, but I was interested in:

I'm assuming that is to do with piggy backing off the WAL log in the same way a disrupted synchronous/streaming replicant needs to know where it was up to.

Do you have an example of this working? Does the server need to run outside of docker and save some state of where it currently is in the WAL and can continue from that poi

[2020-08-25 22:51] kwakwaversal commented on #22
For reference, this bug still exists and it can be easily replicated.

Build the latest Docker image using the `Dockerfile` which is part of this repo and add a `SLOT_NAME` env variable to it.

[code]

Stop the container. Then rerun the Docker command above.

[code]

If I change the line at https://github.com/supabase/realtime/blob/master/server/lib/adapters/postgres/epgsql_implementation.ex#L75 t

[2020-08-25 23:13] kwakwaversal commented on #40
After further digging around I found that it's possible for the server to pick up where it left off if you use an undocumented environment variable called `SLOT_NAME` (posted an update where setting a name causes the server to crash when it's stopped and started - see https://github.com/supabase/realtime/issues/22#issuecomment-680307472).

It doesn't actually look like guaranteed delivery is curre

[2020-08-26 06:28] toder34 opened #64 ":unchanged_toast is causing errors"
Just as a gentle reminder, the `latest` docker image for `supabase/realtime` still has this bug. I tracked it down to this issue and rebuilt from the latest code in the repo using the provided `Dockerfile` and it has resolved.

_Originally posted by @kwakwaversal in https://github.com/supabase/realtime/issues/50#issuecomment-680260503_

[2020-08-26 06:35] kiwicopple commented on #50
Interesting. thanks for the follow up @kwakwaversal - not sure why it isn't yet shipped to docker

[2020-08-26 06:38] kiwicopple commented on #64
Thanks for the creating this @toder34 - I renamed this to make it easier to track.

This was fixed here:
https://github.com/supabase/realtime/commit/c1ea779d6b723823ebbb266694a913ff58982b1b#diff-fa0378d0927ab8b4ed0ffb41e22d4b51R65

It should just be a matter of releasing. After releasing we should test again (https://github.com/supabase/realtime/issues/50#issuecomment-642685807).

I suspect the se

[2020-08-26 06:40] kiwicopple commented on #22
Amazing, thanks for the replication steps @kwakwaversal. makes this easier to solve.

We're just getting through our YC demo day, but I'll jump into this as soon as humanly possible

[2020-08-26 07:02] kiwicopple commented on #40
Hey @kwakwaversal thanks for taking the time to provide well thought-out comments and dig around the code.

- server doesn't keep a log of the events
- js client takes too long to connect

I think both of these will be mitigated by the improvements we started in https://github.com/supabase/realtime/issues/33 and will continue in https://github.com/supabase/realtime/issues/48.

We don't intend to t

[2020-08-26 07:06] kiwicopple opened #65 "Document the `slot_name` var"
# Bug report

## Describe the bug

We don't have any documentation for `slot_name`: https://github.com/supabase/realtime/issues/40#issuecomment-680314130

## Additional context

We should add some documentation that:

1. shows users how the `slot_name` var
2. documents down what it is (allows postgres to track the "last position")
3. explains how to get multiple servers connecting to postgres, wit

[2020-08-26 19:48] kwakwaversal opened #66 "Use case: synching to Elasticsearch/Solr"
https://github.com/supabase/realtime/issues/40#issuecomment-680699263

Hi @kiwicopple. I'm currently in an exploratory stage following a requirement to sync data from PostgreSQL to Solr or Elasticsearch and seeing what's out there. I knew logical replication was the only way to go but needed to explore existing solutions. I heard about supabase realtime a year ago so been kicking the tyres to see

[2020-08-29 03:14] kiwicopple commented on #66
Hey @kwakwaversal thanks for the amazing write up.

Oops. Thanks for the heads up! We are standardising release statuses across the whole org. I shifted it back to alpha - I think that it's a fairer representation of the state of the server, but also Supabase as a whole. We will move into Beta once we have some benchmarks and, more importantly, we will hire someone who can support this repo full t

[2020-08-30 19:44] kwakwaversal commented on #66
I think it would make sense for me to handle to the writes to Solr rather use create a webhook in the server. I would need to update Solr FIFO but I read in https://github.com/supabase/realtime/issues/33#issuecomment-635010703 that you suggested webhooks that don't return `2XX` that a log is written somewhere. That would break the order of the records that update the relevant documents in Solr whi

[2020-09-02 11:16] kiwicopple commented on #66
Got it, that makes sense.

Yes, great system! Definitely heavy if you want full functionality I think it is the only thing on the market right now.

Thanks again for the context. I will need to chat to Francesco about this use-case. He's not active right now, so unfortunately it could take a while to see progress on this one. Nonetheless, here are the actions I have:

- Investigate the use of a qu

[2020-09-03 07:33] #65 closed

[2020-09-03 07:43] kiwicopple commented on #64
Github action seems to be skipping the release

[2020-09-03 07:55] kiwicopple commented on #64
![image](https://user-images.githubusercontent.com/10214025/92087170-c7093680-edfd-11ea-854b-31fd78cc8d9e.png)

OK this time it looks like `latest` is the same timestamp and size as `v0.7.8`

Let me know if you still have issues with this on the latest image. Thanks for the patience!

[2020-09-03 07:55] #64 closed

[2020-09-14 06:57] kiwicopple opened #70 "Create Benchmark"
# Chore

As part of our move from Alpha to Beta, we will want to be clear about the limitations and performance of each of the components in Supabase. We need to do 3 things:

- [ ] Design a benchmark  (if it isn't already designed)
- [ ] Perform the benchmark
- [ ] Create a blog post or documentation detailing the results

[2020-09-14 14:37] #22 closed

[2020-09-14 14:47] kiwicopple commented on #22
Hey @kwakwaversal  thanks to your message this one is now fixed. The problem is that Postgres stores the slots in lower case:

![image](https://user-images.githubusercontent.com/10214025/93100606-ee081800-f6db-11ea-9ab5-fa9e0e1417a9.png)

I've updated the latest release to convert the `SLOT_NAME` var to lowercase before checking if there is an existing slot

You can verify on version 0.7.9:

[code

[2020-09-21 08:05] kiwicopple commented on #61
Update of root cause, from [SO](https://stackoverflow.com/questions/60710947/postgres-replication-slot-from-kafka-connect-is-filling-up):

This seems to be caused on DO and AWS because they have their own background processes running.

- Slot 1 - DO replication gets triggered on every change
- Slot 2 - Supabase replication only gets triggered if a specified table gets changed

Because Supabase is

[2020-09-21 08:25] kiwicopple commented on #61
Workaround while we solve this:

*1. Create a table in your database called "heartbeat"*

[code]

*2. Add this table to the publication

[code]

*3. Every so often, update this table*

[code]

If you trigger `3` every minute or so, the database will clear the data stored for the slot.

We will add a function to this server where we can send an acknowledgement every few seconds without this workaro

[2020-10-06 06:47] awalias opened #72 "500 error report"
service ref `vkvjnvalmrvcmmlggpfr`

[code]

[code]

[2020-10-06 06:52] awalias commented on #72
affected line https://github.com/supabase/realtime/blob/c8966564de9a4def5c6a5afc91e5ea53986fe325/server/lib/decoder/decoder.ex#L66

[2020-10-08 16:50] chasers commented on #47
Feel free to take a look at our parser: https://github.com/Logflare/logflare/blob/master/lib/logflare/logs/lql/lql_parser.ex

We actually compare the path with a schema and alert if the path is not found ... what you're talking about here.

And we do some type check so you can do like `metadata.metrics.response_time:>100`

If you're doing this in Elixir [NimbleParsec](https://github.com/dashbitco/

[2020-10-19 10:31] soedirgo commented on #70
Weird, looks like there's no performance numbers for Debezium [as late as 2018](https://groups.google.com/g/debezium/c/5KRvUeDfwQU). I was thinking about trying their approach for benchmarking CDC. The [gitter chat link](https://gitter.im/debezium/dev?at=5a2a6401232e79134d236c95) from the bottom has some interesting ideas though.

[2020-10-20 06:24] kiwicopple commented on #70
I think @inian actually started some work on this one?

[2020-10-20 07:27] inian commented on #70
I have some basic code with k6 and websockets but have not managed to get it working fully - test never seems to finish (might be related to https://github.com/supabase/supabase-js/issues/44). I can push it a separate branch if needed so that you can work on top of that if needed.

[2020-10-20 07:39] kiwicopple commented on #70
Note that the changes aren't in the main release of supabase-js yet, so you could consider using `realtime-js` directly for this one: https://github.com/supabase/realtime-js

Let me know if you spot any problems - it's our new interface so I want to make sure it's working well

[2020-10-23 04:01] kiwicopple opened #73 "Event parser"
# Feature request

Right now we are blindly sending all events over the websockets. For various reasons (primarily security), a developer may want to filter which events are sent out. In the future this could also extend to include JSON transformer discussed [here](https://github.com/supabase/realtime/issues/66#issue-686574252).

## Describe the solution you'd like

We already have the Configurati

[2020-10-23 04:03] kiwicopple commented on #73
@fracek in case you're available, I'd love your opionion on this one. I think I will need to implement it soon as realtime security is becoming more important for some of our customers

[2020-10-25 11:03] fracek commented on #73
What you propose is a reasonable extension to what Supabase already has. I share your concern as well.

In my experience this tends to be confusing to users (at least when I'm the user :smiley: ), would it be possible to have a default configuration that sends all events? I see the following advantages:

* Eliminates magic behavior
* Provides a starting point for users to write their own filters
*

[2020-10-27 02:41] kiwicopple commented on #73
Good solution. Nice suggestion Fracek

[2020-10-27 14:37] inian commented on #70
Pushed my old attempt [here](https://github.com/supabase/benchmarks/commit/1ed32da085eea08a65673528a834c2fc7361952a). It is very much a work in progress.

I have documented my challenges in getting k6 to work with our realtime server [here](https://github.com/supabase/benchmarks/blob/1ed32da085eea08a65673528a834c2fc7361952a/realtime/findings.md)

I have [modified the webpack config](https://github

[2020-10-27 16:30] awalias opened #74 "Auto generate swagger spec for API"
https://swagger.io/blog/api-development/generate-api-documentation-effortlessly-from-your/

[2020-10-29 06:22] SweeToxin opened #75 "unable to filter delete realtime messages"
# Bug report

## Describe the bug

Realtime filter doesn't work properly on Delete subscription, it seems to filter all messages.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]

## Expected behavior

Only messages respecting the condition should go through.

## Screenshots

n/a

[2020-10-29 15:41] awalias commented on #75
thanks @SweeToxin we'll try and reproduce.

@phamhieu since you were testing realtime + dart, did you happen to test deletes today?

[2020-10-30 03:52] phamhieu commented on #75
I only tested INSERT. I will check it again later.

[2020-10-31 01:40] kiwicopple commented on #75
Hi @SweeToxin ! Nice to see you in our repos too

Could you please try this?

[code]

[2020-10-31 07:35] SweeToxin commented on #75
Thank you @kiwicopple!
Sorry I might have wrote the example code wrong, I will correct it.

I am actually using the `.subscribe()`
The code is working perfectly for INSERT and UPDATE, the issue only shows on DELETE subscription.

[2020-11-02 10:54] kiwicopple commented on #75
OK, can you try one more thing @SweeToxin ? Can you run

`ALTER TABLE your_table REPLICA IDENTITY FULL;`

on whichever table you're listening to?

[2020-11-02 14:12] SweeToxin commented on #75
Hey,
After trying that, it still doesn't work for DELETE ( both insert and update are working fine ).

This is the actual code if it helps

[code]

[2020-11-06 04:41] soedirgo commented on #75
I'm able to reproduce this with this setup:

supabase-js:

[code]

Supabase:

[code]

Will look into this!

[2020-11-06 11:23] SweeToxin commented on #75
Hey @soedirgo,
Thank you for taking the time to look into this

[2020-11-10 08:12] kiwicopple commented on #75
OK found the issue: https://github.com/supabase/realtime/blob/9a39fb264a86cc2b13bd15581d4dc5a335beab96/server/lib/realtime/subscribers_notification.ex#L64

This is mapping through the keys in `record`, however a DELETE change looks like this:

[code]

There are no keys in `record`, because it's a deletion. For DELETE's, we would need to loop through the `old_record`.

@soedirgo I wonder if you rol

[2020-11-11 01:45] kiwicopple commented on #74
We don't actually have an API for this one (not in the same way the article outlines). I'll close this, but we can always hunt it out if/when we introduce a config API

[2020-11-11 01:45] #74 closed

[2020-11-16 10:55] kiwicopple commented on #72
Hey @awalias - is this one still occuring for this database? I tried to decode this binary string but found nothing. I couldn't replicate, but if it is still happening I should be able to debug it live

[2020-11-17 09:44] kiwicopple commented on #72
Closing - cannot replicate

[2020-11-17 09:44] #72 closed

[2020-11-22 06:44] kiwicopple opened #78 "Github actions are failing"
# Bug report

## Describe the bug

`set-env` has been deprecated

## Solution

New format: https://github.com/actions/toolkit/issues/641#issuecomment-730583850

[2020-11-22 06:47] #78 closed

[2020-11-22 08:30] #75 closed

[2020-11-22 08:32] kiwicopple commented on #75
Thanks for the patience on this one @SweeToxin - I just pushed the fix, and we will bundle it into the next deployment in supabase.

[2020-11-25 12:06] awalias opened #81 "Large inserts choke micro instances"
inserting 1 million rows at the same time cause excessive CPU usage for an extended period afterwards, along with ~50% RAM:

![image](https://user-images.githubusercontent.com/458736/100217970-0b185d00-2f4f-11eb-9803-df09d77a9316.png)

test code here: https://raw.githubusercontent.com/supabase/benchmarks/feat/firestore-benchmarks/db/migrations/20201124141199_read_data.sql

ruled out COPY being the

[2020-11-25 12:13] kiwicopple commented on #81
🤔 Move to rust?

Let me think how we can solve this - the plan was to add workflows to this server, which will only make it slower. At the moment we are parsing every event, then looping through every column, so it is a lot to get through. Realistically a user doesn't need all of these notifications and should be adding [Event Filters](https://github.com/supabase/realtime/pull/76) to included only

[2020-11-25 12:41] awalias commented on #81
I guess the sensible solution for now is to temporarily disable the `supabase_realtime` publication temporarily for large dumps like this

[2020-11-26 16:59] rrjanbiah commented on #66
@kwakwaversal

I was looking for a debezium alternative (to avoid JVM stack) and stumbled upon this issue. Are you able to succeed with the attempt to use supabase for Elastic search sync? In my case, I have found Elastic search alternative MeiliSearch (crosslinking https://github.com/meilisearch/integration-guides/issues/20)

On other note, for JSON transforming, I think these libraries are bette

[2020-11-27 10:08] kiwicopple commented on #66
Thanks for the parsers @rrjanbiah - we might need to find something elixir-native, but these are good prior art to work from.

Our current discussion is to update the event parser to be more inline with AWS's Simple Work Flows. eg: https://states-language.net/#choice-state. This is a full state machine, which should make it this a very versatile server. It's a large task though, so we'll have to s

[2020-11-27 11:13] rrjanbiah commented on #66
@kiwicopple

Looks not maintained, but I found this one https://github.com/stephan83/ex-jmes

Not quite understand here... but since, you're referring to the state machines, you may want to check https://github.com/davidkpiano/xstate as that's quite popular

[2020-12-05 23:08] sturatcliffe opened #83 "Socket is not a constructor"
# Bug report

## Describe the bug

When following the node example in this repo, I'm receiving the following error on the ```socket.connect()``` line:

"TypeError: Socket is not a constructor"

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Follow the example here:

https://github.com/supabase/realtime/blob/master/examples/node-js/src/server.js

Us

[2020-12-06 02:41] w3b6x9 commented on #83
@sturatcliffe I think the Node example requires you to run the Realtime server locally by following the instructions here: https://github.com/supabase/realtime#server-set-up. It'll run on port 4000 by default so you don't need to pass in REALTIME_URL env var.

`app.supabase.io` points to the hosted version of your projects on Supabase which makes it easy for you to watch and get notifications for

[2020-12-06 08:26] sturatcliffe commented on #83
@w3b6x9 ah OK - I couldn't find any confirmation anywhere but I was guessing the realtime server was bundled in with the hosting on ```app.supabase.io```.

I first tried listening for updates using the ```supabase-js``` client from a node server, as it's isomorphic so I wondered if that would work, but I couldn't seem to get it to listen for updates in realtime. Fetching data on the server was fin

[2020-12-06 08:26] #83 closed

[2020-12-14 13:06] #73 closed

[2020-12-14 15:38] awalias opened #86 "Publish arm build for Graviton"
https://github.com/supabase/infrastructure/issues/343

add arm64 binary download to release page

[2020-12-15 01:20] soedirgo commented on #86
Best case scenario is for GitHub to have an ARM runner. The main problem is the need to have the the right ERTS for the target triplet ([ref](https://elixirforum.com/t/how-likely-are-we-to-ever-have-built-in-cross-platform-releases-with-elixir/34559/2)) (unlike Go which can cross compile)

[2020-12-15 05:50] w3b6x9 opened #87 "SubscribersNotification process crashes when loading config from json file"
# Bug report

## Describe the bug

Loading config from a json file:

For example

[code]

crashes the Realtime.SubscribersNotification process.

This is due to PR #76 not converting "realtime" config from json file to :realtime in `Configuration` module.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a config json file in the /server dir

[2020-12-16 14:11] #86 closed

[2020-12-19 11:24] awalias opened #93 "Version number hardcoded and incorrect"
useful for debugging in prod

https://github.com/supabase/realtime/blob/2a954b0b4e111fda4ae3df13829ad595481e7c7d/server/mix.exs#L4

[2020-12-21 13:15] soedirgo commented on #87
Closed by #92.

[2020-12-21 13:15] #87 closed

[2020-12-22 09:35] soedirgo commented on #93
Fixed by https://github.com/supabase/realtime/commit/db18bc631939f90268b689f42fe450ddc94ca156.

[2020-12-22 09:35] #93 closed

[2020-12-28 18:31] kamikazechaser opened #95 "Phoenix tokens for channel auth"
# Feature request

## Is your feature request related to a problem? Please describe.

At the moment, channels aren't secured. Anyone with the endpoint and public key can listen to **all** db changes. This means that realtime streaming cannot be used at all on the client side. This has been mentioned as a caveat in supabase/supabase#237. However in the main docs, there is no such warning given:
* h

[2021-01-04 20:23] kiwicopple commented on #95
Thanks for this @kamikazechaser - we're checking if we can use our exiting JWT setup first, but if that doesn't work we'll switch to the Phoenix tokens.

Really appreciate the ideas here 🙏

[2021-01-09 01:00] soedirgo commented on #81
I'm seeing 2 problems:
- Decoding takes a *really* long time. Locally, decoding an `INSERT` of 1 million rows takes more than an hour just to decode. On the other hand, for a subscription with a second DB, decoding and applying takes *5 seconds*.
- After decoding, `SubscribersNotification` crashes on `handle_call/3`. Maybe because of the huge size of the arguments, since messages are sent per tran

[2021-01-09 16:40] kiwicopple commented on #81
Interesting. Is there any low-hanging fruit here? Is it the actual decoding or the parsing into various channels?

Otherwise if you can do a quick POC of the NIF, it  might be good to compare

[2021-01-11 04:17] awalias commented on #95
anything else required in the rest of the stack to get this integrated?
- [ ] realtime-js to send Authorization Header?
- [ ] Worker to set SECURE_CHANNELS=true and JWT_SECRET=blah (also maybe SECRET_BASE?)
- [ ] Release new kps build with v0.10.1

[2021-01-11 04:20] awalias commented on #95
also how should we manage the breaking change with existing applications? Thinking of the scenario where we upgrade people's KPS instance

[2021-01-11 04:44] emschwartz commented on #95
If you wanted to avoid making it a sudden breaking change, you could give
the current public key the ability to subscribe to all channels, create a
new restricted public key that is limited to the row level permissions, and
deprecate or recommend against using the original public key.

[2021-01-11 06:14] kiwicopple commented on #95
This one is most urgent, although it is actually in `supabase-js`.

@soedirgo is this correct? - We will need to pass the JWT [as a `param`](https://github.com/supabase/supabase-js/blob/a5dc5d252a1ec7c9c2c2a5682dd77868fe2c3a97/src/SupabaseClient.ts#L138) called "token" so that it flows through [to the channel](https://github.com/supabase/realtime-js/blob/c79862e9be9ac59d0416adad112d42d7cdcac79e/sr

[2021-01-11 06:26] soedirgo commented on #95
Yeah that should be all, the new client should work fine for old projects. The only problem is using old code with new instances. This also means we need to update our examples

[2021-01-11 07:33] soedirgo commented on #81
Just decoding, it errored out when `notify`ing SubscribersNotification.

👍

[2021-01-13 23:05] w3b6x9 opened #102 "Truncate Option 3 (Cascade + Restart Identity) Missing"
# Bug report

## Describe the bug

The following function is missing `3 -> [:casecade, :restart_identity]` from `case options`:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Select `Cascade` and `Restart Identity` when truncating data from table.
2. Genserver terminates and raises following error: `(CaseClauseError) no case clause matc

[2021-01-14 05:28] #81 closed

[2021-01-17 10:13] #102 closed

[2021-01-22 08:31] awalias opened #106 "Crash on update"
I added the demo schema `countries` which can be found on the dashboard under sql editor

I subscribed using:
[code]
And I edited some text fields on the countries table in the table editor

no updates came through on my subscription and when I checked the realtime logs I found the error below.

I can't reproduce it, but perhaps it's possible to trace it from the logs?

[code]

[2021-01-24 12:17] kapoko opened #107 "SECURE_CHANNELS can't be boolean"
# Bug report

SECURE_CHANNELS should be a string, number or null.

## Describe the bug

Setting SECURE_CHANNELS to `true` or `false` in docker-compose file throws error. The docs say this value should be boolean but it is not allowed.

## To Reproduce

Set `supabase/realtime` docker image environment value `SECURE_CHANNELS` to `true` (or `false`).

## Expected behavior

No error, or the docs to sp

[2021-01-24 16:19] soedirgo commented on #107
Thanks for the report @kapoko!

This looks like a problem with YAML in general (see https://github.com/docker/compose/issues/1788), all environment variables are strings, but I agree that the types in the docs can make it confusing. But since it was mentioned in the context of command line arguments, it's technically correct.

@w3b6x9 any thoughts on this? I think a minor improvement would be to m

[2021-01-24 20:46] w3b6x9 commented on #107
Thanks for bringing this to our attention, @kapoko!

@soedirgo Thanks for looking into this! I agree, let's have another example to better demonstrate how to pass in these env vars. I'll put up a PR, link this issue, and we can discuss futher!

[2021-01-24 23:16] w3b6x9 commented on #106
@awalias just wanted to confirm that you were able to subscribe successfully in the first place and receive insert payload notifications? Were there any `GenServer #PID<0.1234.0> terminating (stop) :econnrefused` in the logs prior to the presence of `UndefinedFunctionError`?

[2021-01-25 05:39] #107 closed

[2021-01-28 16:09] acupofjose opened #109 "v0.10.x JWT documentation seems unclear?"
## Question

Using the current release of `@supabase/realtime-js` I am unable to connect to the latest release of `@supabase/realtime`. Following the documentation of the breaking changes in v0.10, what are client opening requests supposed to include?

A `token` query param? A `header`?

## To Reproduce

**docker-compose.yml**
[code]

**index.js**
[code]

**Terminal Output**
[code]

**Application

[2021-01-28 22:07] w3b6x9 commented on #109
@acupofjose we're in the process of enabling JWT auth to realtime so apologies if the documentation isn't clear.

Looks like `SECURE_CHANNELS` is already set to `"true"` in your `docker-compose.yml`, which means you'll have to set your `JWT_SECRET` to the secret used to sign your JWT. Then, you can pass in your JWT like this:

`const client = new RealtimeClient("ws://localhost:4000/socket", { para

[2021-01-29 02:31] acupofjose commented on #109
@w3b6x9 awesome, that's exactly what I was looking for, thank you! Trying to get the `@supabase/realtime-csharp` library written and was struggling to understand how to pass the `token`.

[2021-01-29 02:31] #109 closed

[2021-01-29 04:12] awalias commented on #106
from @w3b6x9 :

I am able to reproduce this consistently now. Here's what I think is going on:
• We are using the same db connection (epgsql_pid) for both SELECT and CREATE_REPLICATION_SLOT queries. epgsql streaming replication docs told us not to do that:
Only simple queries squery can be used in replication mode and only special commands accepted in this mode (e.g DROP_REPLICATION_SLOT, CREATE_R

[2021-01-29 09:03] #106 closed

[2021-02-06 14:54] acupofjose opened #114 "The `payload.record` object appears to have a deserialized/transformed timestamp?"
# Bug report

## Describe the bug

I'm attempting to deserialize the timestamp on a record that has been inserted. However, it seems that `realtime` does some deserialization/transformation on the record before returning it as an event.

While it may seem a trivial bug, it affects the way in which parsing of timestamps happens from the application level.

## To Reproduce

**Postgresql Setup**
[cod

[2021-02-06 16:12] abc3 opened #115 "Client-side example with a chart of routing time"
# Feature request

## Is your feature request related to a problem? Please describe.

You can never have too many examples, especially about measurement. It would be helpful to see a client example that shows a simple time chart by getting updates from DB.

## Describe the solution you'd like

Insert N rows to DB, receive them, and show timestamps on the chart.

## Describe alternatives you've con

[2021-02-07 12:24] abc3 opened #116 "Performance tuning proposal for `Realtime.OidDatabase.name_for_type_id`."
# Chore

## Describe the chore

As I see, the `DataTypes` struct is used only in the function `Realtime.OidDatabase.name_for_type_id` for getting a name by id. Rewriting `struct` to `case` may speed up to 25%.

Either, if you for some reason need that struct, replace if/else with `Map.get(%DataTypes{}.types, type_id, type_id)` which is more effective than:
https://github.com/supabase/realtime/blob

[2021-02-09 03:53] w3b6x9 commented on #116
@abc3 Yep, definitely more performant and thanks so much for converting it into `case`!

[2021-02-09 14:19] kiwicopple commented on #115
wow, this is awesome 🔥

😂  agreed

@w3b6x9 if you're happy with this let's merge it

[2021-02-10 03:33] kiwicopple opened #119 "Prevent crash on large row values"
# Bug report

## Describe the bug

https://github.com/supabase/realtime/blob/894f4bb8923017467c78803711d8adbef8c090fe/server/lib/realtime/subscribers_notification.ex#L81

This line is sending a websocket message for every column, based on equality

Some columns can be huge text dumps or JSON config so we should add some sensible filters filters here.

1. It’s probably unnecessary - nobody is going

[2021-02-10 07:31] abc3 commented on #119
The name of the channels is value in ETS, it can be really huge, even GBs.

As for that bug, I think it's related to that checking:
https://github.com/supabase/realtime/blob/894f4bb8923017467c78803711d8adbef8c090fe/server/lib/realtime/subscribers_notification.ex#L140-L142

In current implementation can be checked keys only up to 100 symbols.

[2021-02-10 07:44] kiwicopple commented on #119
Nice thanks @abc3.

![image](https://user-images.githubusercontent.com/10214025/107479979-d19ed780-6bb6-11eb-8317-91e8737c6db1.png)

I should check my own code before creating issues 😅

I'll set up some tests to make this fail -  @fracek confirmed it was an issue, so it's worth figuring out where the failure is occuring.

[2021-02-10 08:10] abc3 commented on #119
I've checked with key 2500 length, everything ok. I'm with pleasure will investigate bug if you show how to reproduce it. :blush:

[2021-02-10 10:38] fracek commented on #119
I start with a fresh copy of realtime (commit `894f4bb89230`), get the deps for the server (`mix deps.get`) and for the node js example (`yarn install`). I start the db from the node-js example (`docker-compose up db`).

I start the server:

[code]

and the node-js example (`yarn run start`).

I insert some data with the following script:

[code]

and I can see the data streamed to the node-js exa

[2021-02-10 10:43] fracek commented on #119
To recap there are two visible issues when inserting big rows:

 * Users don't receive the notification
 * The backlog grows until its processed a few seconds later.

My educated guess is that there are two main issues (maybe related, maybe not):

 * Channels cannot handle big payloads and crash
 * Realtime is (relatively) slow at processing big changes, if the changes come at above a certain rate

[2021-02-10 11:42] abc3 commented on #119
But `name = 'name' * 1000000` is only 40MB :confused:

In my case it works, I'll dive deeper with @fracek example.

Btw, my test shows a very big latency of ~10sec. It's too much for deliverу a few tens MB.

<img width="431" alt="Screenshot 2021-02-10 at 13 37 28" src="https://user-images.githubusercontent.com/1172600/107505279-20437600-6ba5-11eb-8f11-1a038a9a90f7.png">

[code]

[2021-02-10 11:46] kiwicopple commented on #119
thanks for testing @abc3 - it could be due to this: https://github.com/supabase/realtime/pull/120

We were seeing this behaviour in Prod, so had to revert the PR. If it's still slow after merging this PR, then we definitely need to fix the latency

[2021-02-10 12:19] abc3 commented on #119
I've made a mistake in my calculation: not 40 but 4MB ))

testing insert through this `INSERT INTO users(name) VALUES(repeat('name', 1000000))`

[2021-02-10 14:09] abc3 commented on #119
I've found it!

Response time with debug level and without:
<img width="429" alt="Screenshot 2021-02-10 at 15 07 49" src="https://user-images.githubusercontent.com/1172600/107517874-fbf09500-6bb6-11eb-88ed-340d8e756924.png">

These rows execute few seconds:
https://github.com/supabase/realtime/blob/894f4bb8923017467c78803711d8adbef8c090fe/server/lib/realtime/replication.ex#L72-L73

[2021-02-10 14:34] fracek commented on #119
I can reproduce the fix. Events are still not propagated through websockets but at least the instance doesn't become unresponsive. Good job!

[2021-02-10 14:45] abc3 commented on #119
The browser needs some time to decode and render long strings.
It will be clearer if make some changes in the example.
need to remove this:
https://github.com/supabase/realtime/blob/894f4bb8923017467c78803711d8adbef8c090fe/examples/next-js/pages/index.js#L28

replace that
https://github.com/supabase/realtime/blob/894f4bb8923017467c78803711d8adbef8c090fe/examples/next-js/pages/index.js#L44-L53

wit

[2021-02-10 15:03] AronBe commented on #114
As above, I am also confirming that the realtime payload date is not consistent (missing **T**) with what we get from a regular select call

[2021-02-10 22:36] w3b6x9 commented on #116
Closing this issue b/c #121 has been merged.

[2021-02-10 22:36] #116 closed

[2021-02-11 06:30] w3b6x9 commented on #119
@fracek weird that this was giving you issues on your machine.

I went to check it out while I was debugging. I inserted 100 rows, with each row having value `'name' * 1000000` (4MB), in the same transaction.

As replication was in progress, I checked both the replication lag (stayed consistent at about 5.3MB):

![Screen Shot 2021-02-11 at 12 51 55 AM](https://user-images.githubusercontent.com/553

[2021-02-11 06:34] w3b6x9 commented on #115
Closing this issue b/c #118 has been merged.

[2021-02-11 06:34] #115 closed

[2021-02-11 08:01] abc3 commented on #119
Thanks! I'm glad that my contribution is helpful :blush:

Please, share your monitoring result if something goes wrong on prod again.

[2021-02-11 20:37] w3b6x9 commented on #114
@acupofjose thanks for bringing this to our attention!

@AronBe thanks for confirming!

I'll investigate!

[2021-02-11 20:54] abc3 commented on #119
The old quick solution adds time too https://github.com/supabase/realtime/issues/8#issuecomment-564551365
https://github.com/supabase/realtime/blob/af6344c7746e8a8af6a11a9b498721c1f97e339b/server/lib/realtime_web/channels/realtime_channel.ex#L21-L24

So, the code above and the implementation `Realtime.SubscribersNotification.notify_subscribers` will send several copies of the similar data.
For exa

[2021-02-11 22:11] acupofjose commented on #114
Thanks @w3b6x9!

[2021-02-11 23:32] w3b6x9 commented on #95
@kiwicopple @soedirgo @awalias I think `supabaseKey` (public-anon-key JWT) is already being passed to [SupabaseClient](https://github.com/supabase/supabase-js/blob/master/src/index.ts#L15), which in turn is passing it to [RealtimeClient](https://github.com/supabase/supabase-js/blob/33aac7438cdc12f5202cdfd13d053901382f0dd2/src/SupabaseClient.ts#L148), which is appended to Realtime endpoint url unde

[2021-02-11 23:40] w3b6x9 commented on #95
We also need to update `realtime-js` [README](https://github.com/supabase/realtime-js/blob/master/README.md), specifically replace `token` with `apikey`:

[code]

That was added b/c of issue #109.

[2021-02-12 08:59] kiwicopple commented on #95
That's actually a great idea @w3b6x9 - nice. Let's do it 👍 👍 👍

[2021-02-16 07:37] awalias opened #125 "RAM explosion on huge # of inserts"
I am now killing the realtime service when it chews up to 70% on RAM on an instance,

The process restarts but gets caught in a loop of filling up memory and getting killed (with a 3 second restart wait each time), it would be nice if the application could constrain itself and slowly work through the backlog of events (given it has ~670Mb of RAM to play with on the free tier)

I can reliably repro

[2021-02-16 11:56] abc3 commented on #125
Memory issue can reproduce on the working machine `INSERT INTO users (name) SELECT * FROM generate_series(1, 100000);`
It seems the GC doesn't want itself to clean the heap, only can be done after the manual call `:erlang.garbage_collect(pid)`. It may be because `txn` are passed synchronously to all functions, this influences throughput too.

<img width="676" alt="Screenshot 2021-02-16 at 13 34 41

[2021-02-16 12:41] fracek commented on #125
Agree with @abc3. If switching to async doesn't work, we may need to add backpressure between replication and the rest of the system.

[2021-02-16 21:08] abc3 commented on #125
Sync calls don't fault. Looks like messages from DB coming too fast and passing to WebSockets too slow, so they accumulate in VM and eat all free RAM.

[2021-02-17 09:56] fracek commented on #125
So the only way to solve this is slow down reading from the DB if the changes start accumulating downstream (e.g. WebSockets?)

[2021-02-17 10:32] abc3 commented on #125
During slow down, the messages will accumulate in epgsql process.
Maybe it can be done with logging in the DETS, then reading with some defined RPS for each export (websocket/connectors).

I think it will be useful for RAM optimization to add a memory handler to managing signals like system_memory_high_watermark, send inactive processes with hard work (Replication/SubscribersNotification) to hiber

[2021-02-17 21:53] w3b6x9 commented on #114
@acupofjose fix has been merged to `master`! Please let me know if everything works as expected now from your end. I'll keep this issue open until your confirmation. Thanks!

[2021-02-17 21:55] w3b6x9 commented on #95
Closing this issue b/c channels auth has been set and released to prod.

[2021-02-17 21:55] #95 closed

[2021-02-17 22:25] acupofjose commented on #114
Woooo! That's perfect @w3b6x9 thanks so much for your work!

[2021-02-17 22:25] #114 closed

[2021-02-17 22:28] w3b6x9 commented on #114
@acupofjose you got it! 😊

[2021-02-19 02:35] w3b6x9 commented on #125
@abc3 thanks for looking into this! It could be interesting if we used a memory supervisor ([memsup](http://erlang.org/doc/man/memsup.html)) and like you mentioned have it set the `system_memory_high_watermark` alarm. Then, we'll have to find a way to hibernate (perhaps [:sys.suspend](http://erlang.org/doc//man/sys.html#suspend-1)/[:sys.resume](http://erlang.org/doc//man/sys.html#resume-1) but I'm

[2021-02-19 02:35] w3b6x9 commented on #125
In the meantime, I investigated the codebase and found some areas where we can refactor to cut down memory usage:

- We're not checking to see if [%Configuration{}](https://github.com/supabase/realtime/blob/master/server/lib/realtime/configuration.ex#L10) contains any webhooks config prior to passing all txn changes to [Connectors.notify](https://github.com/supabase/realtime/blob/master/server/lib

[2021-02-19 06:19] abc3 commented on #125
@w3b6x9 nice places for refactoring!

As I konow, There are several methods to reduce memory by the process - stop it, hibernate, or call GC.

Suspending is different from hibernation because the process can't communicate with others, only with the system.
GenServer may go to hibernation mode by the response {:repluy, :ok, :hibernate} / {:noreply, :hibernate}/...

During critical situations when R

[2021-04-04 15:08] rattrayalex opened #132 "Suggestion: document query abilities in README"
# Improve documentation

## Link

The readme

## Describe the problem

As someone evaluating Supabase, I am curious how powerful the realtime capabilities are (and/or will be). A major challenge in realtime subscriptions in general is getting quick responses to complex queries. If you only want updates in very specific situations, relying on unpowerful queries can result in a large number of clien

[2021-04-04 15:59] rattrayalex commented on #132
Ah, this appears to be [documented in the supabase docs](https://supabase.io/docs/reference/javascript/subscribe#listening-to-row-level-changes):

[2021-04-05 04:00] kiwicopple commented on #132
Hi @rattrayalex - I'll leave this open if you want to contribute a change to the Readme?

Otherwise let's close this :)

[2021-04-05 14:55] rattrayalex commented on #132
Sure! Put up https://github.com/supabase/realtime/pull/133 but feel free to edit / suggest edits liberally!

[2021-04-06 12:42] martineboh commented on #132
All examples currently listens only to a single column. Any example on listening with two or more columns like `{table}:{col}=eq.{val}:{col2)=eq.{val2}`. A use case is listening for comments that has columns is_deleted=true and author=me

[2021-04-06 15:24] rattrayalex commented on #132
Ah, does it work with multiple columns @kiwicopple ?

[2021-04-07 04:36] kiwicopple commented on #132
it will only work for a single column. We'll have to figure out more complicated strategies (probably as part of our workflow engine)

[2021-04-09 16:48] acco opened #134 "Supporting multiple Postgres databases"
Hey team,

I originally tried using Cainophile but it hasn't received updates in a couple years. Then I found this project! Nice work.

I see this project as two parts: one part is about subscribing to Postgres and handling log events (a lot of `realtime`). The other is handling socket connections from clients (`realtime_web` - Phoenix).

My use case is slightly different, as ideally I'm able to s

[2021-04-12 02:52] kiwicopple commented on #134
Hey @acco - let us discuss this internally and get back to you.

We were already discussing how to move the websockets out, but we also were considering our Workflows engine and how Realtime will work with it. Once we have a clear idea we will drop our notes here.

[2021-04-13 00:54] acco commented on #134
@kiwicopple Sounds good! Looking forward to your thoughts. Also happy to chat

[2021-04-16 23:00] acco commented on #134
Hey @kiwicopple -- just checking in to gauge your thoughts here? Cheers

[2021-04-22 07:36] kiwicopple commented on #134
Still disucssing @acco but it's looking likely. Should have some plans for you by next week

[2021-05-01 12:30] dwelch2344 opened #140 "JWKS Support"
# Feature request
JWT is a great way to provide security, but using a shared secret becomes a scalability pain. It'd be nice if we could configure the service to a JWKS endpoint as an alternative.

## Additional context

JWKS builds on JWT and provides a mechanism for using pub/priv keys to sign jwts. it also allows the issuer to change rotate the signing key without invalidating the old key, and

[2021-05-01 13:42] maartenvanvliet commented on #140
Fyi, Real-time uses the Joken library under the hood.

See https://hexdocs.pm/joken_jwks/introduction.html for a library providing JWKS support for Joken

[2021-05-01 16:51] abc3 opened #143 "Sending batches of messages through WebSockets"
# Feature request

## Is your feature request related to a problem? Please describe.

Tests show that sending messages by batches is much-much faster than by one (but eats more memory).
On the chart below first nine tries of 10k messages are sent one by one through `broadcast_from`, next in the batch.

<img width="546" alt="Screenshot 2021-05-01 at 15 25 07" src="https://user-images.githubusercont

[2021-05-01 17:21] dhenson02 commented on #143
#125

[2021-05-03 06:38] abc3 commented on #125
Are there any updates here?
I see @w3b6x9  worked on "mem-usage" brunch, but it didn't merge to the master.
@w3b6x9 if you have to stop work on this issue, I could try to solve it.

[2021-05-03 19:45] w3b6x9 opened #146 "Separate Postgres streaming replication functionality into its own package"
# Feature request

## Is your feature request related to a problem? Please describe.

Quite a few developers in the community have expressed interest in incorporating Postgres streaming replication into their own apps but it's currently tightly coupled with broadcasting to clients via sockets in `Realtime` server. Essentially, developers have stated that they wish to listen for changes from their

[2021-05-03 20:01] w3b6x9 commented on #134
@acco sorry for taking so long to get back to ya! I've created issue #146 to track the separation of the "core subscription/event logic" that you mentioned, essentially the Postgres replication functionality, into its own package. Feel free to take a look at that issue and let me know what you think.

We're still discussing internally but I think the direction is that we ultimately want `Realtime`

[2021-05-04 00:37] w3b6x9 commented on #125
@abc3 thanks for following up!

The work I did on [mem-usage](https://github.com/supabase/realtime/tree/mem-usage) is wrapped up in PR #131 and I was waiting on maintainers of the other `realtime` clients to add in binary decoding support. Only `realtime-js` supports receiving binary messages from `realtime` server right now (see: https://github.com/supabase/realtime-js/commit/242fc7dd3c550041a2cb

[2021-05-04 01:10] kiwicopple commented on #134
Yup! Let's make it multi-tenant after we have solved #146

[2021-05-04 01:54] w3b6x9 commented on #143
@abc3 awesome proposal!

Yep, you called it! `Realtime` already consumes a lot of memory when processing large transactions so this will definitely increase memory usage. However, I love how it's many times faster when sending large transactions.

We're planning some changes to `Realtime`, see (https://github.com/supabase/realtime/issues/134#issuecomment-831498705), and eventually when we introduc

[2021-05-04 02:42] w3b6x9 commented on #140
@dwelch2344 take a look at the symmetric JWT auth PR (see: https://github.com/supabase/realtime/pull/99) and the example in Joken JWKS (see: https://github.com/joken-elixir/joken_jwks/commit/a173f643082f3d8d606f095bcf8cd20467b2eddd#diff-c971e4f3329485ad6a91eb81a345c2144a3b3eb6a035bad9f84395c1fcde24a0R49-R82).

[2021-05-04 04:04] acco commented on #134
This all sounds great team! Thanks for your responsiveness here. I'll take a look at https://github.com/supabase/realtime/issues/146 shortly

[2021-05-04 06:09] abc3 commented on #125
Thanks, I understood,

I will look closer at your branch and try to find more solutions with the micro instance.
I'll be in touch!

[2021-05-04 06:18] abc3 commented on #143
Thanks!

Yes, that approach will eat more memory, but the speed is increasing so significantly!
Anyway, my main goal was to share with you this chart. I was excited when I saw that :open_mouth:

[2021-05-04 06:38] w3b6x9 commented on #143
@abc3 yea, I was blown away and got excited too! Also, it's a good thing you made that chart in the first place. Awesome to actually visualize it!

[2021-05-05 07:42] abc3 commented on #125
Just to be clear, which exactly ec2 instance do you using? How many RAM / CPUs?

[2021-05-05 21:41] w3b6x9 commented on #132
@rattrayalex thanks for creating this issue and putting up PR #133!

I created PR #148 with documentation around query abilities (see: https://github.com/supabase/realtime/tree/readme#event-filters-with-examples) to start answering your questions. It's essentially what you wrote in #133 but listed with examples. Let me know what you think!

[2021-05-05 21:51] rattrayalex commented on #132
Thanks @w3b6x9 ! That's great, though it does remain ambiguous as to whether operations other than `eq` are supported, which I would suggest clarifying.

I might also suggest including a non-point-lookup example, like `type.eq=dog` to demonstrate that there is a way to listen to many _rows_ at once (it just requires designing your db to have an appropriate lookup column).

[2021-05-05 22:01] w3b6x9 commented on #125
@abc3

Supabase uses t4g instances and the original issue was observed on a `micro` instance.

1 GiB / 2 vCPU

Keeping in mind that `realtime` service is killed when it "chews up to 70% on RAM on an instance".

[2021-05-06 04:03] kiwicopple commented on #132
Hey @rattrayalex - just to answer your question directly here - only the `eq` operator is available on this server.

We are working on some more complex use-cases in our Workflow engine, and eventually this server will be more of a "CDC" server, which picks up database changes and fires them to a "smarter" server for mapping/filtering/etc.

[2021-05-06 04:18] rattrayalex commented on #132
@kiwicopple thanks – that's exactly what I'm hoping to be in the public docs!

[2021-05-07 01:30] marcelobarreto opened #149 "Listen to schema changes"
# Feature request

I'd like to know when the schema was modified (also, get the current version of it). So I could have some actions based on the data.

## Is your feature request related to a problem? Please describe.

No

## Describe the solution you'd like

I'd like to work on this one, but I confess that need some guidance. And also, I would like to design the solution as a team.
PS.: I'm stud

[2021-05-07 01:43] w3b6x9 commented on #149
@marcelobarreto thanks for creating the issue and welcome to Elixir!

Just to be clear, are you requesting listening to changes for when schema itself is altered (e.g. `ALTER SCHEMA public RENAME TO test`) and not https://github.com/supabase/realtime/blob/master/server/lib/realtime/subscribers_notification.ex#L55?

[2021-05-07 01:46] marcelobarreto commented on #149
Hey @w3b6x9 I was thinking about when we add/remove/change columns for example.

[2021-05-07 03:19] kiwicopple commented on #149
Hey @marcelobarreto - i don't know if this is possible since this server just listens to the postgres `WAL`

postgres stores the schema inside internal tables - https://www.postgresql.org/docs/current/catalogs.html

1. Postgres doesn't register changes to these tables into a the `WAL` (needs verification)
2. it seems dangerous - like this would somehow have some infinite loop, or some unknown side

[2021-05-07 11:30] marcelobarreto commented on #149
thanks @kiwicopple, I'll give it a try.

[2021-05-07 11:58] abc3 commented on #125
So...I managed to send a long transaction with 1M rows to one listener through WebSocket.

Environment:
- t4g.micro instance
- Ubuntu 20.04.2 LTS
- Erlang/OTP 23; Elixir 1.11.2

Procesing tranaction to disc:
<img width="516" alt="Screenshot 2021-05-07 at 11 25 22" src="https://user-images.githubusercontent.com/1172600/117445146-0b2b7880-af43-11eb-8c6b-323b1bf27b1d.png">

Sending db changes:
<img w

[2021-05-07 17:44] w3b6x9 commented on #125
@abc3

That's absolutely incredible!

Wanted to link your PR: https://github.com/supabase/realtime/pull/147

Really appreciate you continuing to look into this and putting up a PR! Excited to see the final version!

[2021-05-10 21:11] nickwebha opened #150 "Node.js Example Not Functioning"
# Bug report

## Describe the bug

`examples/node-js` does not function.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `git clone https://github.com/supabase/realtime.git`
2. `cd realtime/examples/node-js/`
3. `npm install`
4. `docker-compose up`
5. `npm start`

[code]

## Expected behavior

`npm start` connects to running docker instances of

[2021-05-10 21:27] nickwebha commented on #150
That fixed it. Did not expect it to be so simple.

Tested and verified working. Thank you.

[2021-05-10 21:27] #150 closed

[2021-05-10 21:29] w3b6x9 commented on #150
@nickwebha thanks for reporting this issue! I'm going to set `SECURE_CHANNELS: 'false'` in `docker-compose.yml` so others don't face the same issue.

[2021-05-10 21:54] nickwebha commented on #150
FYI

I also had to do something like
[code]

to get the stand-alone Docker image working. Otherwise it just errored out not being able to connect to my locally running PostgreSQL instance. I do not feel that is clear in the README.

[2021-05-11 01:47] kiwicopple commented on #149
Hey @marcelobarreto - I'll close this for now, but if you make progress feel free to update and I can reopen

[2021-05-11 01:47] #149 closed

[2021-05-18 15:42] thuan-gempage opened #153 "The socket seem to not working"
# Bug report
I run two examples but both seem to not working on listening to the database change.

## Describe the bug
I run `realtime` server by using this command.
[code]
The server still run on port 4000, however, I see a log message that appears every 5 seconds.
[code]

I guess the problem comes from the database connection.

## To Reproduce

1. Run
[code]
2. Run `next-js` example
3. Open `nex

[2021-05-18 21:39] w3b6x9 commented on #153
@thuan-gempage i use a mac and unfamiliar with ubuntu but let me investigate this for a bit!

meanwhile, can you try `--add-host=host.docker.internal:172.17.0.1` instead to see if that works? i think it comes down to the host as everything else looks good.

[2021-05-18 21:48] w3b6x9 commented on #153
@thuan-gempage what's your docker version? i think `host-gateway` is newer so it might not work for your local docker version.

making the change to `--add-host=host.docker.internal:172.17.0.1` got it working for my mac and it should work for your ubuntu.

[2021-05-18 22:12] w3b6x9 commented on #153
@thuan-gempage i just upgraded to the latest docker desktop (v3.3.3) and `--add-host=host.docker.internal:host-gateway` is now working for me.

[2021-05-19 02:16] thuan-gempage commented on #153
@w3b6x9 I still get that error. I also tried with `DB_HOST='172.17.0.1'` and it does not work.

[2021-05-19 06:10] w3b6x9 commented on #153
@thuan-gempage hmm what's your docker version? Also, are you sure your local postgres is running via docker? Can you walk me through how you set up the db on your machine?

[2021-05-19 07:49] thuan-gempage commented on #153
@w3b6x9 I fixed it. It seems like the `DB_HOST='172.17.0.1'` not working on Ubuntu. So I added `--network="host"` option and change the `DB_HOST` to `127.0.0.1`, and it worked.
Thank you so much for helping me!

[2021-05-19 07:49] #153 closed

[2021-05-19 17:33] w3b6x9 commented on #153
@thuan-gempage nice, glad you got it working!

[2021-05-27 13:43] arunjoshtech opened #156 "When Stable release will be released"
Dear Team,
When you are planning to release production ready?

# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description

[2021-05-28 04:36] deemytch commented on #146
+1
And make listeners interfaces pluggable with websockets, RabbitMQ, Kafka, ØMQ, Gearman etc.

[2021-05-28 11:44] kiwicopple commented on #156
Hey @arunjoshtech - this is technically ready for production. We are using it in thousand of projects in Supabase already.

The reason we aren't going to update the Beta tag is:

- we aren't providing full support and SLAs yet
- we may change the structure of it in the future to be even more scalable. we haven't finalised the structure of this yet

If this suits your current use-case, it's relativ

[2021-05-28 11:44] #156 closed

[2021-06-21 20:29] relferreira commented on #50
Hello, I'm seen this error in the SaaS Supabase:

<img width="987" alt="Screen Shot 2021-06-21 at 5 27 58 PM" src="https://user-images.githubusercontent.com/4078815/122823815-33362780-d2b6-11eb-827c-d281dedbd3fd.png">

[2021-06-21 20:40] w3b6x9 commented on #50
@relferreira thanks for reporting your error. Were you listening to [row level changes](https://supabase.io/docs/reference/javascript/subscribe#listening-to-row-level-changes) (e.g. `teams:id=eq.taua`) when this error occurred?

[2021-06-21 20:51] relferreira commented on #50
Hello @w3b6x9, yes:
[code]

[2021-06-21 21:20] w3b6x9 commented on #50
@relferreira thanks for confirming! we'll look into this

[2021-06-21 23:42] relferreira commented on #50
@w3b6x9 I don't know if it helps, but this table has 2 json collums

[2021-06-22 04:35] AaronNGray opened #164 "Is it possible to subscribe to updates on specific columns ?"
### Discussed in https://github.com/supabase/supabase/discussions/2039

<div type='discussions-op-text'>

<sup>Originally posted by **AaronNGray** June 22, 2021</sup>
Is it possible to subscribe to updates on specific columns ?

I.e. to generate a clause :-

```CREATE TRIGGER name AFTER UPDATE OF column ...```
</div>

[2021-06-22 18:10] w3b6x9 commented on #50
@relferreira alright so you can circumvent this issue by either setting your `teams` table's replica identity to `FULL` (`ALTER TABLE teams REPLICA IDENTITY FULL;`) or simply ignore it since there are no changes.

[2021-07-20 14:04] DAmisonSSG opened #165 "Won't connect to WS 404 not found"
# Bug report

The websocket will not connect via the @supabase/realtime-js it gives the following error on the server

[code]
going to http://192.168.1.7:4000 shows 'Supabase Realtime See details at supabase.io as expected'

A clear and concise description of what the bug is.

Used in react JS to connect as follows

[code]

[2021-07-20 19:48] w3b6x9 commented on #165
@DAmisonSSG 404 might point to your websocket URL passed to `RealtimeClient` in secure mode. Can you try `'ws://192.168.1.7:4000'` and see if that works?

[2021-07-20 20:07] w3b6x9 commented on #164
@AaronNGray it is possible but we don't have a performant way of doing this at the moment. In order to do this as it currently exists, we would need to broadcast a message for every single column in a db change. We're actually already doing something quite similar for users to be able to match against a specific value in a column (e.g. `realtime:public:users.id=eq.2`), which means sending excess m

[2021-07-20 23:14] AaronNGray commented on #164
Sorry I have move to using Vercel / Next.js / React,js + Vesper / TypeORM stack now and doing subscriptions via pubsub at GraphQL resolvers.

[2021-07-21 19:25] ChronSyn commented on #165
I'm having the same issue as the OP using the same code. Unfortunately, the same issue remains even when trying `ws` instead of `wss`:
[code]

Adding an `onError` handler doesn't provide much insight from what I can see:
[code]

[2021-07-21 19:28] w3b6x9 commented on #165
@ChronSyn thanks for confirming. Will look into this shortly.

[2021-07-21 21:08] w3b6x9 commented on #165
@DAmisonSSG @ChronSyn there are two other additions to make besides the `wss` -> `ws` change in order to get it working:

- append `/socket` to the ws url.
- make sure to run docker with `SECURE_CHANNELS` set to `'false'`.

here's what i did to get it up and running on my mac:

[code]

[code]

I'm going to update both `realtime` and `realtime-js` READMEs in order to reflect what I've posted here.

[2021-07-21 21:49] ChronSyn commented on #165
Appending `/socket` was the solution for me (though I had `SECURE_CHANNELS` set to false already).

I think I got a bit confused because I forgot that the supabase-js lib connects to the kong instance, which routes via `/websocket`.

[2021-07-23 04:08] #165 closed

[2021-07-27 15:24] fenix-hub opened #167 "Realtime APIs don't correctly parse arrays in response"
# Bug report

This bug was originally reported in Discord, so maybe you are already investigating on this, but now the channel is very populated.

## Describe the bug
Messages coming from Realtime APIs, subscribing to a Phoenix Channel, don't correctly parse Arrays as expected.
Arrays define in Tables, f.i. as `text[]` (`media_attached:["media1.png", "media2.png"]`, are parsed inside messages comi

[2021-07-28 20:05] twins2020 opened #169 "NodleDosh"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2021-07-28 20:09] w3b6x9 commented on #169
@twins2020 please create a new issue with the details filled in.

[2021-07-28 20:09] #169 closed

[2021-08-01 21:41] twins2020 opened #170 "Business discussions almost finalised."
# Chore

## Describe the chore

A clear and concise description of what the chore is.

## Additional context

Add any other context or screenshots that help clarify the task.

[2021-08-01 21:46] w3b6x9 commented on #170
@twins2020 see my comment to you here: https://github.com/supabase/realtime/issues/169#issuecomment-888588182.

[2021-08-01 21:46] #170 closed

[2021-08-12 23:49] w3b6x9 commented on #167
@fenix-hub I'm currently looking into this issue and just wanted to confirm that when you write "Realtime APIs" do you mean `RealtimeClient` from [realtime-js](https://github.com/supabase/realtime-js)?

The Supabase client ([supabase-js](https://github.com/supabase/supabase-js)) is actually where the conversion is being done (see: https://github.com/supabase/supabase-js/blob/master/src/lib/Supabas

[2021-08-13 00:04] w3b6x9 commented on #167
@fenix-hub I just saw your Discord message about this issue, and unfortunately we aren't performing conversions on the `Realtime` server itself (see this [issue](https://github.com/cainophile/pgoutput_decoder/issues/1) for more context). We're actually doing this on the client (see `realtime-js` [transformers](https://github.com/supabase/realtime-js/blob/master/src/lib/transformers.ts) `realtime-d

[2021-08-13 10:12] fenix-hub commented on #167
@w3b6x9 Thank you for your reply.
It's ok for me to do conversions client side, but I would suggest to consider server-side conversions anyway, since it is the only way to give homogeneous functionalities among all clients, regardless of the library used, because of several reasons.
You can close this if you want, thanks again for your explanation about the behaviour. :)

[2021-08-16 12:59] omidh28 opened #173 "econnrefused error when trying to connect to database"
# Bug report

## Describe the bug

Unable to connect to pg database using latest image.

Error:

[code]

## To Reproduce

Use this compose file or the readme instruction in current repository.

[code]
## Expected behavior

It is expected to be connected to db without any issue.

## System information

- OS: Tried on both Windows and Ubuntu.
- Postgresql: 12, 13

## Additional context

I'm trying t

[2021-08-16 14:31] #167 closed

[2021-08-16 21:13] w3b6x9 commented on #173
@omidh28 looks like you ran `docker-compose.dev.yml`. If you look at the last line in your error log,  it says Realtime server was trying to connect to Postgres on port 5433. Do you have database up on that port? Compose file specifies port 5432 so perhaps that's where it's failing. I just ran the compose file on my Mac and it's working file.

[2021-08-16 21:48] omidh28 commented on #173
Nah I changed it to 5432 just for sake of reproduction But for myself I used 5433 because 5423 was already occupied by non-docker postgresql. I don't know what is causing problem but It works when I cloned the repo and used mix itself

[2021-08-16 22:03] w3b6x9 commented on #173
@omidh28 hmm did you run `mix` without any config changes (i.e. `mix phx.server`)? If so, sounds like Realtime server is connected to your non-docker postgres so it is able to connect to a database. Can you confirm that you have postgres up on both ports 5432 (non-docker) and 5433 (docker)? Or can you share your exact compose file that points to port 5433 and I'll try and replicate on my machine.

[2021-08-17 22:53] w3b6x9 commented on #173
@omidh28 i'm going to close this but feel free to reopen if you're still blocked.

[2021-08-17 22:53] #173 closed

[2021-08-18 20:11] dwelch2344 commented on #140
This looks great! Think it has what we need. Thank you!

Sorry to leave this open so long! Will give it a whirl and reopen if issues / comments / etc.

[2021-08-18 20:11] #140 closed

[2021-09-07 23:28] twins2020 commented on #169
0x1e1922ed3570839a4764c59d9c82d25e9d73029bd4f0cd4a59cf9a2afbef5d35/0xf515F1D656E550E889441D05399ff1Ea9b551592

[2021-09-17 13:57] dbi1 opened #176 "Disable realtime by default?"
Hello,

In the UI, you have the following note about realtime:

Given this, wouldn't it be better if the default state for realtime were "off" (i.e. disabled) for new projects/tables, with the option of manually enabling it instead?

I could easily see myself creating a new Supabase project, setting RLS on my table, and forgetting that realtime is enabled...

Thank you!

P.S.: Really, really appre

[2021-09-17 16:45] w3b6x9 commented on #176
@dbi1

This is exactly the case!

When you create a Supabase project, Realtime is not activated for any tables. You can then go to the Supabase Dashboard and manually turn it on for each table or all tables.

We're currently working on applying RLS to Realtime and will notify the community when this is launched. You can check out https://supabase.io/blog/2021/09/10/supabase-beta-august-2021#realti

[2021-09-17 19:59] #176 closed

[2021-09-27 19:41] w3b6x9 opened #177 "Apply Row Level Security to Realtime Broadcasting"
# Feature request

Realtime will broadcast database changes only to a specific user or set of users who are permitted to access them based on row security policies set in Postgres.

## Describe the solution you'd like

[WALRUS (Write Ahead Log Realtime Unified Security)](https://github.com/supabase/walrus), which will be integrated into Realtime server, will check which users should receive specif

[2021-10-04 17:52] lmick002 opened #184 "Issue with packaging as an native dependency and rebuilding with electron-rebuild -- bufferutils/node-gyp"
# Bug report

## Describe the bug

When adding @supabase/realtime-js to an electron project where the native dependencies have to be rebuild the install process fails due to bufferutil

## To Reproduce

1. Clone https://github.com/electron-react-boilerplate/electron-react-boilerplate
2. Install the realtime library as a native dependency (see: https://electron-react-boilerplate.js.org/docs/native-

[2021-10-17 14:56] albertmir opened #185 "Filtering realtime DELETE event by user_id"
# Bug report

## Describe the bug

There is no way to completely filter our user related events when subscribing to a table.

## To Reproduce

Using the [vue3-ts-todo-list](https://github.com/supabase/supabase/tree/master/examples/vue3-ts-todo-list) example as a basis, when you query a table you only receive your records (the ones associated to your user id).

However, when realtime subscriptions

[2021-10-18 09:38] awalias commented on #185
Oh I just realised, you probably want this: https://supabase.io/docs/reference/javascript/subscribe#notes

![image](https://user-images.githubusercontent.com/458736/137706870-ec3265bb-413f-4f7e-b0db-ab8759c12074.png)

[2021-10-18 09:39] #185 closed, assigned to awalias

[2021-10-21 16:25] chasers opened #186 "Prevent realtime API keys from getting in logs"
See: https://github.com/supabase/infrastructure/issues/795#issue-805047597

Wanted to cross post this here just in case.

We can probably authenticate the connection in a request header.

We should additionally authenticate the channel on `join`.

[2021-11-04 11:24] alator21 opened #188 "Realtime updates for views"
# Feature request

## Is your feature request related to a problem? Please describe.

I would like to receive real-time updates for views(e.g i have a view that is the result of the junction of two tables. I would like to receive updates when the  rows of the view are inserted/updated/deleted)

## Describe the solution you'd like

I would like to use the `.on` supabase js client function with a vi

[2021-11-07 22:35] jamieflorence opened #191 "Subscribing to materialized views (like Hsaura, RethinkDB and Firebase Realtime DB)"
# Feature request

Howdy. I’ve been searching for a plausible Firebase alternative for a while now, and am delighted to have stumbled across this.

Before I get too excited, I have one quick question: is there any way to subscribe to a materialized view, rather than a table?

For context, I currently receive real time data which I put through a long computational pipeline to produce a summary tabl

[2021-11-23 05:25] #164 closed

[2021-12-01 20:10] cpursley commented on #146
Is there still any interest in this? I now have some capacity but am unsure the best approach for separating out the websocket bits.

[2021-12-01 20:16] maartenvanvliet commented on #146
Postgrex recently got support for subscribing to changes, you could look into that.

[2021-12-13 20:11] #177 closed

[2021-12-13 20:20] #186 closed

[2021-12-13 20:22] w3b6x9 commented on #191
this was discussed here: https://github.com/supabase/supabase/discussions/3824

[2021-12-13 20:22] #191 closed

[2021-12-13 20:27] w3b6x9 commented on #188
@alator21 Realtime works by getting changes from Postgres logical replication, which only applies to database tables. I'm not sure how feasible this is but perhaps you can use Postgres triggers to dump changes from both tables into another table and listen for changes on that table.

I'll leave this open for now and see if anyone in the community has any viable solutions.

[2021-12-15 15:13] clouedoc opened #205 "Return an error when subscribing to a table that _does not_ have realtime on."
# Feature request

## Problem

I was trying to use realtime on my app.
I was not receiving updates from my table.
I later figured out that realtime was disabled.
There was no error when subscribing; thus, I didn't think right away that realtime was disabled on my table.

## Solution
Realtime should throw an error when a client tries to listen on a table that does not have realtime activated.

## A

[2021-12-16 18:36] madebyfabian opened #207 "RLS and Realtime does not work for tables with `jsonb` fields"
# Bug report

## Describe the bug

I have some issues with the new Realtime on RLS Tables Feature. I setuped all the RLS stuff and it works perfectly on almost all my tables. Really awesome! With create, update, delete updates.

But, for one table, which has a jsonb field in it, it just completely doesn't work and throws multiple errors after every change. It even kicks me off the websocket connec

[2021-12-16 18:39] w3b6x9 commented on #207
@madebyfabian yes, this is a known issue. The fix has been merged (see [PR](https://github.com/supabase/realtime/pull/203)) and we're going to deploy this to all Supabase projects very soon.

[2021-12-16 18:47] madebyfabian commented on #207
@w3b6x9 Wow, that was a lightspeed-answer! Thank you so much, this info really helps me. And great that there is a fix soon, so I can start reworking my app to use Realtime. I'll close this issue then.

[2021-12-16 18:47] #207 closed

[2021-12-16 19:06] w3b6x9 commented on #205
@clouedoc Right now, Realtime server allows clients to connect and gives flexibility to the developer to turn on and off Realtime for specific tables or all tables at will but I can definitely empathize with the problem you described above.

I think what you're asking for is pretty straightforward when it comes to listening to a table (e.g. `public:table`) but what about listening to all changes (

[2021-12-16 19:09] w3b6x9 commented on #207
@madebyfabian if you're blocked in the meantime please send an email to support@supabase.io with your project ref and a link to this issue and we can roll back your Realtime version temporarily so you're unblocked. This would mean no RLS support for a brief period of time.

[2021-12-16 19:38] clouedoc commented on #205
@w3b6x9 I have to admit that I didn't even consider this kind of scenario  😅

IMO, the best-effort solution is to throw if _no selected table has real-time enabled_.

e.g. if the user is trying to listen for all changes, but no table has realtime enabled, Realtime would throw an error
e.g. if the user listens for a schema, if no table of specific schema has realtime enabled, Realtime would throw o

[2021-12-16 19:54] madebyfabian commented on #207
@w3b6x9 Thank you for the offer, but I think I will just continue work on another part of the app while waiting.

[2021-12-16 20:17] Isaiah-Hamilton opened #208 "Chore: update Github description to supabase.com"
# Chore

## Describe the chore

update Github description  from [supabase.io](https://supabase.com) to [supabase.com](https://supabase.com)

<img width="1392" alt="Screen Shot 2021-12-16 at 3 15 56 PM" src="https://user-images.githubusercontent.com/70828596/146443104-c731b7cd-8edd-4d9a-bcf9-408fcf12602e.png">

[2021-12-20 21:26] Vinzent03 opened #210 "Bug: Generated columns are missing in realtime payload"
# Bug report

## Describe the bug

I'm storing coordinates with the `geography` type from postgis. To read them on the client I need to create a generated column, which transforms them with `st_astext(position)` to text.

## To Reproduce
[code]

And listen for changes in dart:
[code]

## Expected behavior
`position` is properly decoded, which would be even better, but at least ship the generated c

[2021-12-21 00:00] w3b6x9 commented on #210
@Vinzent03 just wanted to confirm that you're not receiving the `position_text` change at all using `supabase-dart`.

I just reproduced your example and in my `supabase-js` client I get the following:

[code]

Can you post an example payload of what you're receiving on the client? This might be an issue with supabase-dart/realtime-dart.

[2021-12-21 00:03] #188 closed

[2021-12-21 01:19] darora commented on #208
Fixed, thanks

[2021-12-21 01:19] #208 closed

[2021-12-21 13:53] Vinzent03 commented on #210
Ok after some further testing I'm a bit confused. By using the cli (so a local db) I get the following raw data:
[code]
I see now that the `old_record` field is empty. That shouldn't be the case, right?

In addition, I tested it on a new online supabase project. There I have a different problem:
[code]
The `flags` field is missing per column, which results in an error, because it can't identify th

[2021-12-21 23:19] w3b6x9 commented on #210
@Vinzent03

Looks like you're running the non-RLS Realtime version locally. Supabase projects are all running Realtime RLS. See docs here: https://github.com/supabase/realtime#realtime-rls

If you're talking about the `INSERT` example then yes it should be empty. You can populate `old_record` on `UPDATE` changes by setting `REPLICA IDENTITY` to `FULL` on your database tables.

Supabase projects ar

[2021-12-22 08:39] Vinzent03 commented on #210
Forget that. That was from a previous example with update event.

Shouldn't the cli use rls realtime too? Is rls realtime used, although rls is not enabled on the table?

Looks like my code ran with supabase-dart 0.2.9. supabase-dart 0.2.10 fixes this. Sorry, I don't know why I thought I'm on 0.2.9.

So to summarize, only the cli version doesn't include the `position_text` column and still uses no

[2021-12-22 10:04] w3b6x9 commented on #210
@Vinzent03 ah, that explains it! I'm running Realtime RLS locally but I just looked at `supabase/cli` and the configs point to the old non-RLS Realtime. I'll close this issue b/c it seems like it's fixed for you by version bumping `supabase-dart`. I'll create a PR over in `supabase/cli`.

[2021-12-22 10:04] #210 closed

[2021-12-23 01:56] w3b6x9 commented on #210
Here's the cli PR: https://github.com/supabase/cli/pull/115

[2021-12-23 12:22] kausko opened #211 "Realtime does not work for tables with User-defined fields"
# Bug report

## Describe the bug

One of my tables in the `supabase_realtime` publication has a column of user-defined type/enum. I'm unable to subscribe to changes in this table, but other tables in the realtime publication are working. Removing this column fixes this issue.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create an enum/user-d

[2021-12-23 14:54] Vinzent03 commented on #210
@w3b6x9 Thanks for fixing the issue. I'm still amazed why switching to rls-realtime fixes the shipping of generated columns. It's now fixed, so I don't really care, but it wonders me.

By the way. Is adding a generated column even the best/recommended way (if there's any) to ship postgis types via realtime? Even via postgrest I needed a function to call `st_astext` or add a view.

[2021-12-23 21:41] w3b6x9 commented on #211
@kausko this is a known issue that we're currently dealing with. Realtime RLS, which is what all Supabase projects are currently using, rely on `wal2json` to function and we need to upgrade it v2.4. We'll be rolling out the upgrade to all Supabase projects in the next week or so.

We were going to deal with it using https://github.com/supabase/walrus/pull/32 but then discovered that it's already b

[2021-12-23 21:47] w3b6x9 commented on #210
@Vinzent03

The previous Realtime and Realtime RLS use different plugins, `pgoutput` and `wal2json`, respectively. I suspect it has to do with `pgoutput` not handling generated columns properly.

I think it's fine now that it's working with Realtime RLS. As long as you don't mind the output format.

[2021-12-24 06:29] kausko commented on #211
Thank you for getting back to me so quickly @w3b6x9!

Redefining the type without the quotation marks worked perfectly, so I'm closing this issue.

I really appreciate your offer for a manual upgrade, but I'll stick to your solution for now. Thanks again!

[2021-12-24 06:29] #211 closed

[2021-12-26 13:18] madebyfabian opened #212 "Improve documentation: `DELETE` events don't work for Realtime Row-Level Subscriptions while `REPLICA IDENTITY` is not `FULL`"
# Improve documentation

## Link

https://supabase.com/docs/reference/javascript/subscribe

## Describe the problem

Hello together, merry christmas for those who celebrate! 🎄🎄

I just found out after a long debugging-session, that when creating a realtime subscription with a low-level selector onto a table that doesn't have `REPLICA IDENTITY` on `FULL`, that for rows that are being created after

[2021-12-26 18:09] tconroy commented on #212
It seems the docs [already state this](https://supabase.com/docs/reference/javascript/subscribe#listening-to-deletes)?

[2021-12-26 18:10] tconroy opened #213 "realtime only emitting `DELETE` events (no `INSERT` or `UPDATE`)"
# Bug report
realtime only emitting `DELETE` events (no `INSERT` or `UPDATE`)

## Describe the bug
When I perform an `INSERT` or `UPDATE` to a table with realtime + RLS enabled, I do not receive any realtime event:

[code]

`DELETE` events are correctly received.

The user has appropriate RLS permissions, because all data correctly loads on the client via supabase cllient `REST` calls.

## To Repr

[2021-12-26 18:29] madebyfabian commented on #212
@tconroy Thanks for your answer! Have read the docs many times but somehow haven’t seen this part. Will close this then.

[2021-12-26 18:29] #212 closed

[2021-12-26 20:14] tconroy commented on #213
So it does seem to be something related to RLS policies. But I'm not sure exactly what the cause is.

My table `board_cards` has RLS Enabled with the following policy (`ALL`):
[code]

This calls a [custom Postgres function](https://supabase.com/docs/guides/database/functions), `is_member_of_list()`:
<img width="642" alt="Screen Capture 2021-12-26 at 15 13 58@2x" src="https://user-images.githubuser

[2021-12-27 01:24] GaryAustin1 commented on #213
Just throwing a random thought on this.  Realtime has some user faking to be authorized with a uid, etc.  What if the search path of that user does not cover auth.  I always use auth.uid() in my RLS.  You show using uid() without auth....

[2021-12-27 16:57] tconroy commented on #213
Hi @GaryAustin1 ,

I've noticed that, when adding my RLS policies via the Supabase dashboard, the `auth` part of `auth.uid()` is stripped out on save by Supabase. So I did some testing via a direct pg connection and noticed that calling `uid()` works just fine without the `auth` part. This seems to be how Supabase uses it as well when adding through the dashboard.

[2021-12-27 19:14] olirice commented on #213
The issue is related to the way PostgreSQL's `search_path` setting is manipulated to apply row level security policies in the security engine

There is a PR open + under review that resolves the issue and is expected to roll out within a few days.

​If this issue is blocking development on your project, you can avoid it until the fix is pushed by fully qualifying all references to tables/functions

[2021-12-27 19:21] tconroy commented on #213
Hi @olirice - appreciate your email reply and response to this thread!

I can confirm that your suggestion fixes the issue! 🎉  I updated my above RLS policy to use a function with the following definition (note the addition of the schema qualifier `public`):
[code]

Looking forward to that PR being merged as I have a lot of RLS I need to update! :-)

[2021-12-28 05:34] w3b6x9 commented on #213
Related issue: https://github.com/supabase/supabase/issues/4683

[2021-12-28 21:18] tconroy commented on #213
Hi again @olirice, @w3b6x9 👋

Playing with this some more today, and I'm now running into other issues with Realtime + RLS. Not sure if it's directly related to this issue, but it seems like if I try to target row-level changes, I do not receive updates.

ie this is working correctly:
[code]

In both scenarios, I am manipulating the exact same entities. The insert/update propagates to the catch-al

[2021-12-28 21:31] GaryAustin1 commented on #213
I had a RLS using a function and changed it up with path info and DO NOT have an issue using messages:room_key=eq.roomkey.  It is a text room key.  My non RLS realtime uses a userID row level qualifier and it also works.

[2021-12-28 22:06] tconroy commented on #213
Thank you for the help! Turns out I was setting the schema (ie `public.board_cards`) in the subscription. Removing that fixes it!

[2022-01-01 20:16] jonlambert commented on #213
Not sure whether this is related to my issue, but I'm unable to receive any change events at all from a hosted Supabase project.

[code]

I can see the subscription event being sent with the access_token, etc, and acknowledgement received.

[code]

Heartbeat events are sent/received too. But no change events (INSERT, UPDATE, DELETE) reach the client at all. Replication is enabled on all tables. Co

[2022-01-01 20:25] GaryAustin1 commented on #213
Not likely related, unless you have tables with function calls in their RLS policy.
First thing I would do is to verify a non-RLS table works or not to rule out RLS issues.

Second I would make sure user is logged in when making the subscribe.  Right now realtime only works with signed in user unless something has changed since I last looked at things.  You could verify by making an RLS table sele

[2022-01-01 22:55] jonlambert commented on #213
Thanks for the continued help, @GaryAustin1!

A public table with RLS disabled works fine.

Yep – a user_token seems to be passed in the payload of the phx_join message.

I've selected "All Tables" on the far right control in the Replications section. Still no luck unfortunately 😕

[2022-01-01 23:09] GaryAustin1 commented on #213
@jonlambert at least you are down to it being an RLS issue if it worked on non RLS table.  RT uses select RLS so the user will need policy set for that.  For sure simple RLS works with things like auth.uid().  For sure functions in RLS must specify the schema.table format to work until this bug gets resolved.

IN READING THE BUG AND FIX AGAIN IT DOES look it could affect you if you select RLS poli

[2022-01-01 23:20] jonlambert commented on #213
@GaryAustin1 Yeah definitely. Good call to test on a non-RLS table.

My policies are all pretty simple: `(uid() = user_id)` - and fully qualifying the table selector (`public.test_table`) doesn't seem to help. This could be a different problem to the one this fix addresses 😕

[2022-01-01 23:26] GaryAustin1 commented on #213
@jonlambert DON'T DO public.test_table in the realtime .from if that is what you mean, that will break.
BUT DO auth.uid() or any public. on other tables in your select RLS POLICIES if you have them.

[2022-01-01 23:52] jonlambert commented on #213
@GaryAustin1 – as @tconroy [mentioned above](https://github.com/supabase/realtime/issues/213#issuecomment-1001655400), when editing the policy using the Supabase dashboard, it strips out `auth.` from the `auth.uid()` reference. I tried executing the `ALTER POLICY` SQL directly, but that doesn't change things either unfortunately.

I don't reference any other tables in my RLS policies at the moment

[2022-01-02 00:02] GaryAustin1 commented on #213
I'm out of ideas then...
But as far as auth.uid().  The UI does show that stripped even though I added it at auth.uid() , but if I look at my actual table sql with my IDE database editor it shows:
`  with check (auth.role() = 'authenticated'::text);`
even though the UI shows:
`(role() = 'authenticated'::text)`
So I think it does actually stick if you use auth.

[2022-01-02 00:04] jonlambert commented on #213
Fair enough @GaryAustin1. Thanks for the help so far.

Ah that's interesting – I have used auth, but it doesn't seem to fix this particular problem unfortunately.

[2022-01-02 00:37] w3b6x9 commented on #213
@jonlambert can you please email support@supabase.io with your project ref? i can investigate!

[2022-01-02 01:46] GaryAustin1 commented on #213
@w3b6x9 @jonlambert  how ever this turns out please post a result/fix status Thanks!

[2022-01-03 12:43] neilkinnish opened #217 "error occurred when joining <channel> with user token"
# Bug report

Have secure channels turned on with JWT and this has been working fine for some time (sending the JWT in as param apikey).

However, following a recent update to the realtime server project we are now getting an error joining channels:

`error occurred when joining <channel> with user token`.

I have updated the JS client and attempted to use the JWT as the `user_token` but this had

[2022-01-04 13:00] neilkinnish commented on #217
Ah, just noticed the RLS section which I missed previously. Apologies.

[2022-01-04 13:16] neilkinnish commented on #217
Just wanted to double check expected behaviour.... if `REPLICATION_MODE='STREAM'` and `SECURE_CHANNELS='true'` should we be getting an error joining channels: `error occurred when joining realtime:<redacted> with user token`?

[2022-01-07 01:59] w3b6x9 commented on #217
@neilkinnish yes, user token is an alias for the JWT you passed when connecting to the socket in `STREAM` mode. As long as the JWT is valid you should be able to successfully connect.

[2022-01-07 23:08] #217 closed

[2022-01-20 01:20] w3b6x9 commented on #213
we weren't able to figure out the root cause of

i believe i upgraded @jonlambert's project to an early preview of the latest Realtime RLS version that will be deployed this week and it fixed the project's issue. in conclusion, this issue and @jonlambert's issue are both fixed with the latest realtime (https://github.com/supabase/realtime/releases/tag/v0.20.4)

[2022-01-21 11:16] osaxma opened #222 "Support more filters in addition to `eq`"
# Feature request

Support: `neq`, `lt`, `lte`, `gt`, and  `gte` in addition to `eq`.

## Use case
In my app, I'm trying to filter realtime using `(realtime:public:some_table:someValue=gt.previousValue)` but that's currently not possible.

## Describe the solution you'd like

I would like to be able to use:  `neq`, `lt`, `lte`, `gt`, and  `gte` to filter realtime data.

## Additional context

The

[2022-01-21 22:08] w3b6x9 commented on #222
Related: https://github.com/supabase/walrus/issues/9

[2022-01-21 23:13] osaxma commented on #222
@w3b6x9

It looks like `neq`, `lt`, `lte`, `gt`, and `gte` are already supported by walrus according this comment:
- https://github.com/supabase/walrus/issues/9#issuecomment-1018927685

But it isn't supported by realtime according to this:
- https://github.com/supabase-community/supabase-dart/issues/90#issuecomment-1018324651

[2022-01-21 23:16] w3b6x9 commented on #222
@osaxma walrus does support them but realtime rls server does not expose those additional filters at the moment.

[2022-01-24 12:45] xylish7 opened #223 "Realtime: randomly receiving payload with missing column"
# Bug report

## Describe the bug

I've enabled realtime on one of my tables and randomly I get payloads which are missing one column. In my case, the column which sometimes is not present in the payload is the **pending** one, which is of type **jsonb**. The bug also appears only when the **pending** column has a lot of data in it. Another thing is that the bug popped up when I've sent a lot of r

[2022-01-26 22:15] w3b6x9 commented on #223
@xylish7 Thanks for writing this up!

This isn't a bug but a limitation. Postgres uses the [TOAST technique](https://www.postgresql.org/docs/current/storage-toast.html) to store large values. As a result, Postgres replication doesn't include those columns with large values when they have not been updated which means Realtime RLS is unable to pass them on to the client.

The easiest solution is to

[2022-01-26 22:30] w3b6x9 commented on #223
@xylish7 and just to clarify by enabling the `REPLICA IDENTITY` to `FULL` you'll receive the column in `old_record` and not `record` (@olirice thanks for pointing this out!).

You can always go with your solution:

[2022-01-27 15:34] osaxma commented on #188
By the way, I've a discussion open regard this topic here -- mainly for schema isolation and views composed of multiple tables (i.e. to avoid listening to a base table and then fetching from the view):
- https://github.com/supabase/supabase/discussions/5152

[2022-01-27 20:26] #223 closed

[2022-01-27 20:42] xylish7 commented on #223
Thank you for your fast response and sorry for taking me so long to answer back. Did not knew about that TOAST technique. However is still weird that even if I update that pending array for fast consecutive updates there are times when the pending column is missing in the payload.

I will give it a try with `REPLICA IDENTITY` set to `FULL` to see if this is still the case. Wanted to avoid this app

[2022-01-28 01:19] osaxma opened #224 "policy accessing `user_metadata` is not working with realtime only"
# Bug report

## Describe the bug

I've the following policy defined on a table:

[code]

where `auth.profile_id()` is defined as follow:

[code]

When I access the data using `postgrest`, the policy works fine and I'm able to retrieve the data. Though when I listen to the data using `realtime`, I don't get any result.

When I added the `auth.users.id` to the table and updated the policy as shown

[2022-01-28 01:30] w3b6x9 commented on #224
@osaxma ah, you need `supabase/realtime` version >= 0.20.0 for your `events_policy` policy to work. i'll go and update the version in `cli`.

[2022-01-28 03:43] #224 closed

[2022-01-28 07:13] osaxma commented on #224
Thanks a lot @w3b6x9 🙏🏽

[2022-01-29 15:55] GaryAustin1 opened #226 "Realtime does not work with RLS and service role(key)"
# Bug report

Using a service role key normally bypasses RLS.  With realtime using the service role key uses RLS.
It is not clear if this is supposed to work or not, at least I have not found documentation on it.
Users on Discord are attempting this and asking why it does not work.

## To Reproduce

I verified their issue by using service role to init the client (yes I did the test on a browser).

[2022-01-29 17:12] GaryAustin1 commented on #226
In thinking about it, you are only supposed to run service role on a server.  I did the test on a client with browser as I am not familiar with using Supabase on a server.  Does realtime websocket protocol even work on a server as the client?

[2022-01-30 00:36] relferreira commented on #50
Hello @w3b6x9,
It's been a long time, but thank you for the response.

I think that in the latest release, the `unchanged_toast` is not returning anymore. It is a bug, or was something planned?

Thanks in advance.

[2022-01-30 10:22] osaxma opened #227 "server does not acknowledge `access_token` update"
# Bug report

## Describe the bug

When sending an `access_token` update for a specific topic, the server does not acknowledge the event.

## To Reproduce
- connect to the server using websocket
- subscribe to a topic:
[code]
- update the access token:
[code]

## Expected behavior
I expect an acknowledgment  such as:
[code]

## Additional Context
This behavior is observed with `supabase/realtime:v

[2022-01-30 10:57] kiwicopple commented on #226
Thanks for the detailed issue @GaryAustin1

Yes, this should work too 👍

[2022-01-31 20:58] #213 closed

[2022-01-31 21:04] w3b6x9 commented on #227
@osaxma good feedback!

how would you utilize the server acknowledgement? for example, would you try to send the access token again if you didn't receive an ack within n seconds?

[2022-01-31 21:04] w3b6x9 commented on #226
@GaryAustin1 thanks, will try and reproduce this now.

[2022-01-31 21:30] w3b6x9 commented on #226
@GaryAustin1 your project(s) were upgraded to the newest Realtime RLS version in the last 12 hours or so. This version enables Realtime RLS to work with other database roles like `service_role` and `anon`. Can you please try again?

[2022-01-31 21:35] w3b6x9 commented on #50
@relferreira Realtime RLS no longer returns `unchanged_toast`. You'll have to set `REPLICA IDENTITY` to `FULL` If you would like the unchanged column(s) outputted. Please see https://github.com/supabase/realtime/issues/223 for more context.

[2022-01-31 21:45] GaryAustin1 commented on #226
It does not work on  my project ending in wplM which is just a test project and very recent instance.
Sames symptoms as above from a browser using service key.

[2022-01-31 21:45] w3b6x9 commented on #226
@GaryAustin1 got it. checking now.

[2022-01-31 21:48] w3b6x9 commented on #226
@GaryAustin1 can you please email support@supabase.io with the full project ref? i'll investigate immediately.

[2022-01-31 21:49] osaxma commented on #227
Mainly an assurance.

My line of thoughts was if I don't receive an acknowledgement, I'd send a heartbeat to check if the connection is live and reconnect if necessary.

Though as I'm thinking about it now, this only covers a rare case when the JWT expires & the connection is lost between heartbeats (within a 30 second window in my case). So it's not an issue that I faced.

[2022-01-31 21:52] GaryAustin1 commented on #226
Yeah I'll send it, but I screwed up with the digits above and those were last 4 of the service key...

[2022-01-31 22:08] GaryAustin1 commented on #226
Just to make sure the issue I'm reporting is the service_role is honoring the RLS (authenticated works and false does not), but for service_role the RLS should be ignored...

[2022-01-31 22:14] w3b6x9 commented on #226
@GaryAustin1 here's what i just did:

1. created a new supabase project, created a test table and enabled RLS, added table to `supabase_realtime` publication.
2. created client with `service_role` key.
3. inserted into test table and client received the change.
4. created policy on test table and set to `false`, inserted again into test table, and client received the change.

[2022-01-31 22:34] GaryAustin1 commented on #226
Just sent you email with images of setup.  Run about 10  minutes ago.

[2022-01-31 22:56] GaryAustin1 commented on #226
Not sure this is of any use, but the realtime table when using service_role:
![image](https://user-images.githubusercontent.com/54564956/151886693-7fee9efb-907d-438e-b772-6d35984f793e.png)

[2022-01-31 23:03] w3b6x9 commented on #226
@GaryAustin1 looks like you used the `authenticated` token instead of the `service_role` token. can you please confirm that the token you're using to test has `role` of `service_role`?

also, we never received your email.

[2022-01-31 23:06] w3b6x9 commented on #226
@GaryAustin1

that record should have been deleted the moment the authenticated user disconnected

[2022-01-31 23:12] GaryAustin1 commented on #226
resent email...  It is for sure the service_role key and included all codes in the email.
I deleted the only user so now have no users.  The realtime subscriptions still has that user in it and no other for the service role.

[2022-01-31 23:18] GaryAustin1 commented on #226
So with no users in the user table, and a refresh of the client, there is a new connection id, but the user is still the one I used to have, but is not in the user table anymore...
Not sure this is chasing something else at this point or related...

{"aud":"authenticated","exp":1643672238,"sub":"dd3ff6ed-50b1-4c28-98ba-481a6d6c8dda","role":"authenticated","email":"gabbott@xxxxxxxx.com","phone":"",

[2022-01-31 23:26] GaryAustin1 commented on #226
OK so I cleared the local storage AND now the service key works.....

[2022-01-31 23:31] w3b6x9 commented on #226
@GaryAustin1 I was just about to write that it's b/c you were testing with an `authenticated` user and that it persisted. Every subsequent subscription Realtime RLS used the `authenticated` user and not the `service_role` role.

By default, `supabase-js` client connects to the Realtime RLS socket using the supabase key you pass in when initializing. Normally it's the `anon` token but in your case

[2022-01-31 23:34] GaryAustin1 commented on #226
Yeah, either they did the same test thing, or they had the real problem with their instances not being updated...
I'll mention to them using the service_key_role is not a normal thing to do on a client (as I said at start of this issue).
Thanks!

[2022-01-31 23:34] w3b6x9 commented on #226
@GaryAustin1 awesome, thanks for updating everyone!

[2022-01-31 23:35] #226 closed

[2022-01-31 23:56] jackmerrill commented on #226
Hey there @w3b6x9! I'm having the same issue on the server-side with a service role key, I've restarted my project's server and still don't receive realtime updates on the server (Node.js script basically).

[2022-02-01 00:51] w3b6x9 commented on #226
@jackmerrill have you added tables to the publication?

[2022-02-01 00:53] jackmerrill commented on #226
Disregard, I didn't have replication enabled. Thanks anyways!

[2022-02-01 00:56] GaryAustin1 commented on #226
@w3b6x9 No offense to jack but that was the first question I asked him a few days ago, just got lost in the shuffle and I asked him again a few minutes at same time you were posting here...  SIGH.
BUT you keep saying "added to publication"  I think most only know the replication tab so that could be confusing...

[2022-02-01 01:07] w3b6x9 commented on #226
@GaryAustin1

thanks, this is good feedback. i'll make sure to reference the replication settings moving forward to prevent further confusion.

someone else actually created a github issue for this: https://github.com/supabase/realtime/issues/205.

[2022-02-02 22:12] w3b6x9 commented on #227
@osaxma

Gotcha! You can pass a callback function to `subscribe()` and it'll invoke the callback with `'SUBSCRIPTION_ERROR'` and the error, at least this is true for `supabase-js`, and then you can re-subscribe if you'd like.

My hesitation with sending a reply in this scenario is that it'll block the pipe, as the more subscriptions you have on a client the more replies the socket connection will

[2022-02-02 22:12] #227 closed

[2022-02-15 21:43] Sheepsticked opened #231 "Bug: postgresql.conf is full of queries"
# Bug report

## Describe the bug
I run a superbase docker containers in digital ocean droplet. I didn't change the [docker-compose file](https://github.com/supabase/supabase/blob/b012a92bfe2c840cc1964d4f6cf6920271a7a138/docker/docker-compose.yml)
The problem is that file /var/log/postgresql/postgresql.csv in supabase-db container is full of the same queries. A query is made every ~10 milliseconds

[2022-02-15 23:13] w3b6x9 commented on #231
@Sheepsticked this is not a bug and something we intended b/c we wanted postgres logs. i think the simplest thing you can do is to set `log_statement` to `none`.

also, https://github.com/supabase/realtime/issues/61 is unrelated.

[2022-02-15 23:22] w3b6x9 commented on #231
@Sheepsticked can you please give this a try? https://github.com/supabase/supabase/pull/5481

[2022-02-16 07:21] Sheepsticked commented on #231
Thank you for your answer. I have changed log_statement to none but logs are still writing.
I've tried a lot with postgresql.conf but nothing helps. Sorry for my incompetence
My postgresql.conf:
[code]

[2022-02-16 21:13] w3b6x9 commented on #231
@Sheepsticked this looks good. did you make these changes to a running database server? if so, can you try reloading with something like `SELECT pg_reload_conf();`?

[2022-02-16 21:58] grschafer commented on #231
I just ran into this issue also, while trying to get better logging output from postgres while developing locally with the supabase CLI. I'm still on postgres 13 where [log_statement is none by default](https://github.com/supabase/postgres/blob/v13.3.0/ansible/files/postgresql_config/postgresql.conf.j2#L573) and I've confirmed that in psql:

[code]

I've found a few other cases of people finding t

[2022-02-16 22:15] Sheepsticked commented on #231
@grschafer Thank you for [solution.](https://stackoverflow.com/questions/66215102/disable-logging-of-logical-replication-statements-in-postgres-13-1) Now I don't have annoying logs)

[2022-02-16 22:15] #231 closed

[2022-02-19 21:07] RasmusEdvardsen opened #233 "Support more postgres operators for realtime filtering"
# Feature request
Support for more filtering on the **from** clause, when creating listeners.

## Is your feature request related to a problem? Please describe.
This feature request is a matter of performance.

## Describe the solution you'd like
Say I'd like a listener to listen to **C**r**UD**events on user A's friends. I would like to just listen to all users, who have user A's id in their frie

[2022-02-20 01:43] w3b6x9 commented on #222
support contained in (cd) filter issue: https://github.com/supabase/realtime/issues/233

[2022-02-20 01:44] w3b6x9 commented on #233
@RasmusEdvardsen thanks for requesting the `cs` filter. i've linked it to https://github.com/supabase/realtime/issues/222 and will close this issue.

[2022-02-20 01:44] #233 closed

[2022-02-20 12:34] RasmusEdvardsen commented on #222
Is there anything we can do to help @w3b6x9?

[2022-02-24 01:29] GaryAustin1 opened #236 "Realtime generates duplicate events on multiple computers when one is signed in and other is not."
# Bug report
I'm not sure if this is realtime, or realtime.js....

I have two computers, on same router.  Both accessing similar code base on different hosts (one signs, in other skips signin).
On any change to a public non-RLS table two events will be generated for each change to both computers.
If both environments are logged in, or logged out together only one event is generated.

Edit:
I did a

[2022-02-26 16:45] micheljung opened #237 "supabase-realtime causes high CPU load"
# Bug report

## Describe the bug

There are no queries, yet:

[code]

## To Reproduce

1. Clone https://github.com/supabase/supabase/blob/master/docker/docker-compose.yml
2. `docker-compose up -d db realtime`
3. `docker stats`

## Expected behavior

Both containers should be idle and cause almost no CPU load.

## System information

- OS: Windows (Docker Desktop)

## Additional context:

Once you

[2022-02-28 21:00] w3b6x9 commented on #237
@micheljung this is the expected side effect of running Realtime RLS b/c it's polling the database every 100 milliseconds. Depending on your needs, you can change the poll rate or use the non-RLS version (set `REPLICATION_MODE` to `STREAM`) for lower CPU usage.

[2022-02-28 21:00] #237 closed

[2022-03-03 01:52] w3b6x9 commented on #236
@GaryAustin1 thanks for reporting this issue! i was able to find the root cause and i've put up a fix here: https://github.com/supabase/realtime/pull/239

[2022-03-04 01:27] #236 closed

[2022-03-13 14:42] GaryAustin1 opened #242 "Use fallback of http long-polling if firewall blocks websockets."
# Feature request

Currently realtime only uses websocket protocol.  In some situations a user's firewall (often corporate) might block websocket or a proxy might not work.
Firebase realtime database falls back to http long-polling if websocket will not connect.
At a minimum this possibility should be documented so developers can show their users a warning on possible firewall issue.
Firebase long

[2022-03-14 20:08] shinypb opened #243 "Configurable field visibility for realtime subscriptions"
# Feature request

I would like to receive realtime updates for a table without exposing all of the fields within a given row. Allow me to explain a simplified version of what I am trying to build.

I have API endpoints for creating, reading, and writing to `KeyValue` objects, which are just key-value stores. Users should be able to share either write or read-only access to these objects with othe

[2022-03-15 15:23] zvictor commented on #140
Does it relate to proving a JSON Web Key Secret URI?
https://github.com/supabase/supabase/discussions/5911

[2022-03-16 09:19] w3b6x9 commented on #140
@zvictor I dropped a response here: https://github.com/supabase/supabase/discussions/5911#discussioncomment-2371302

[2022-03-16 09:25] w3b6x9 commented on #243
@shinypb Thanks for the feature request! We're currently working on Multi-Tenant Realtime and will consider adding your feature request to the roadmap.

[2022-03-18 10:26] vhscom opened #244 "Use Server-Sent Event Notifications"
# Feature request
Add support for or switch to [Server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) for notifications

## Is your feature request related to a problem? Please describe.

Web Sockets not necessary for unidirectional data flow.

## Describe the solution you'd like

Integration of SSE using standards-based approach.

## Des

[2022-03-18 17:32] darora commented on #244
Is there a significant advantage that you're looking to pick up by using SSEs?

[2022-03-19 05:03] vhscom commented on #244
Technically speaking I believe SSE would be ideal in a fire and forget realtime Notifications setting, which is the use case I'd like to achieve without taking on too much up-front technical debt:

- Unidirectional data flow (uses push model instead of requiring client to pull data)
- Uses standard HTTP protocol (easier to proxy, smaller up-front investment, less technical baggage)
- Reconnection

[2022-03-20 13:43] topperspal opened #245 "How can I paginate data with realtime api?"

[2022-03-21 11:32] w3b6x9 commented on #245
@topperspal Realtime doesn't support data pagination.

[2022-03-21 20:26] kiwicopple commented on #245
Hey @topperspal - to set some more context here, you can request data using the API (https://supabase.com/docs/reference/javascript/select) and this supports pagination.

You can then subscribe to changes using Realtime.

These two combined should give you everything you need :).

I'll close this for now, but if you have any questions feel free to drop a question in our Discussions here:
https://g

[2022-03-21 20:26] #245 closed

[2022-03-25 20:39] leandertolksdorf opened #246 "Cannot have multiple subscriptions on same table"
# Bug report

## Describe the bug

I have two independent React components from which I create supabase realtime subscriptions like this:

[code]

When having both components in one page, one of the subscriptions doesn't fire on changing a row.

When changing the `"*"` in both components to differ from each other, for example

Component 1: `"INSERT"`
Component 2: `"UPDATE"`,

logging of `supabase.

[2022-03-29 23:04] WilliamFalci commented on #246
@leandertolksdorf before everything Im not a supabase mantainer or official dev... but I think maybe a lil bit more of code snapshot will help to understand where is the problem, personallly I used supabase realtime to make a multilevel customer helpdesk chat, but I did it with Vu3 + Vuex, where I have a class handle the chat and the costructor is stored into Vuex so every component can access to

[2022-03-30 23:40] leandertolksdorf opened #271 "Cannot have multiple subscriptions on same table"
NOTE: This is a duplicate of https://github.com/supabase/realtime/issues/246 because I'm not sure to which repository this actually belongs.

# Bug report

## Describe the bug

I have two independent React components from which I create supabase realtime subscriptions like this:

[code]

When having both components in one page, one of the subscriptions doesn't fire on changing a row.

When changin

[2022-04-01 09:30] tchief commented on #132
Hey @kiwicopple, is there any news on the Workflow engine?

[2022-04-01 14:53] kiwicopple commented on #132
Hey @tchief - the full workflow engine has been parked while we build out mult-tenant clustering, presence, and pubsub

If you're looking for extra query filters the following now work for realtime:

[code]

https://supabase.com/docs/reference/javascript/using-filters

[2022-04-03 16:19] Marviel opened #247 "If Replication is not Enabled on a Table, Do Not allow Subscriptions to Succeed"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, you can subscribe to tables which do not have replication turned on. This has caused me much frustration locally. It would be helpful if the Realtime Server, and then `subscribe` calls onthe SDK, would both fail out when Subscriptions cannot be placed on a table due to existing replication rules. The e

[2022-04-05 17:57] w3b6x9 commented on #132
@tchief Just wanted to clarify that the extra query filters that @kiwicopple mentioned only work in [WALRUS](https://github.com/supabase/walrus/blob/e135cf4691565d8cf40438bb3f27f527f114c72c/sql/walrus--0.1.sql#L176) at the moment. We're working hard to integrate it into Realtime. As of now, only `eq` works in Realtime.

[2022-04-07 15:51] tchief commented on #132
@w3b6x9 Thanks for clarification!

[2022-04-23 14:36] barbalex opened #252 "Error 413: Payload Too Large"
# Bug report

## Describe the bug

I am subscribing to a table that contains files in a bytea field.
It seems that realtime does not like this as I get this error: `Error 413: Payload Too Large`

I am building an offline capable app that continually syncs data and files while online. So I need to know when a file was added.

I thought maybe I could get realtime to only send the id's of the changed

[2022-04-28 18:14] w3b6x9 commented on #252
@barbalex Realtime currently does not support choosing the columns you want to include in the payload.

Let me see if there's a good way to pass the primary key when the error is 413 so that you can make a query for the data instead. I'll report back here soon.

[2022-04-28 20:27] olirice commented on #252
@w3b6x9 here's the relevant source that filters out the `record` and `old_record`
https://github.com/supabase/walrus/blob/974798432bbb21d4838efa4ad3de2dd95f2b7edc/sql/walrus--0.1.sql#L455-L473

this risk in this case is that the primary key could be the one that includes the large amount of data e.g. a big string

What do you think about filtering out any columns that are > ~64 bytes.  That'll mai

[2022-04-30 01:59] 413n opened #254 "Subscription not starting after page routing in `NextJS`"
# Bug report

## Describe the bug

I have a `NextJS` app with 2 pages using the same hook that sets up the subscription to a table.
The hook is pretty simple with a useEffect that looks like this (it's basically copied from the [nextjs-slack-clone hook](https://github.com/supabase/supabase/blob/master/examples/slack-clone/nextjs-slack-clone/lib/Store.js)):
[code]

At the `first page` load, the sub

[2022-04-30 12:15] GaryAustin1 commented on #254
I was relooking at your code and wonder if the problem is not awaiting the disconnect to finish.    You might try calling the supabase.js removeSubsciption method also. https://supabase.com/docs/reference/javascript/removesubscription

[2022-05-01 01:23] orenwang opened #255 "FunctionClauseError on event"
# Bug report

## Describe the bug

FunctionClauseError on Realtime server whenever there is an event, e.g. insert, and no event is received on subscribing clients. Note that **on v0.22.2 it is totally fine, but starting v0.22.3 this error appears every time.**

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. sudo docker run -e DB_HOST='172.17.0.1

[2022-05-01 01:29] w3b6x9 commented on #255
@orenwang I believe you're self-hosting and running an older version of Realtime server that may be incompatible with `supabase-py: 0.0.4`. Can you please follow these instructions regarding Realtime RLS and try again? https://github.com/supabase/realtime#realtime-rls-database-setup

[2022-05-01 09:58] orenwang commented on #255
Thanks for the response! @w3b6x9

Yes.
<br>

The issue appears only in v0.22.3 and all later versions of Realtime server. As I stated, it is totally fine on older versions. Or do you mean Realtime is considered older than Realtime RLS?
<br>

I have tested against the latest @supabase/realtime-js. Same issue. Minimal js code below:
[code]
<br>

Yep I will try this soon.

[2022-05-01 21:29] 413n commented on #254
@GaryAustin1 I tried also using `supabase.removeSubscription(messageListener)` but it does not work. It's even more delayed because that action is async and you can't execute `await` inside the unmount in React (as long as I know).

[2022-05-02 02:14] orenwang commented on #255
So I tried to run RLS server but I couldn't get it work. After running `docker-compose -f docker-compose.rls.dev.yml up` everthing seems normal but no event is received on client... is there any more documentation on this? I must have missed some steps, like inserting a necessary policy/subcription?

[2022-05-03 18:33] pie6k opened #256 "How to get deleted rows since given date?"
Scenario:

Offline first app that keeps all available data persisted offline.

Use case:
User logs in and downloads all todos
There are 5 todos
User persists them locally
Users goes offline for 5 hours
During that time 1 of todos got removed (let's say Todo #3)
User goes back online
Question: how do I sync persisted local data to remove this 1 removed Todo without having to fetch all of them (it c

[2022-05-03 23:31] w3b6x9 commented on #256
@pie6k Realtime does not persist the replicated database changes anywhere for playback. You will have to write custom logic and decide on where/how you wish to store this data and how you wish to query the data for a user that wants the last n hours worth of changes.

We have discussed internally building in similar functionality but do not plan on offering it any time soon.

[2022-05-03 23:31] #256 closed

[2022-05-03 23:38] w3b6x9 commented on #255
@orenwang can you please take a look at this checklist and make sure your local setup matches? https://github.com/supabase/supabase/issues/6290#issuecomment-1103424083

let me know if you're missing anything and i can continue to help you debug.

[2022-05-03 23:49] w3b6x9 commented on #254
@413n can you call `sb.getSubscriptions()` and see what the output is?

another thing you can do is call and await `sb.removeAllSubscriptions()` before you subscribe to any subscriptions.

[2022-05-07 00:07] 413n commented on #254
I did not re-tried but as far as I remember, debugging `sb.getSubscriptions()` after the subscription creation in the second page, it was an empty array (`[]`).

I tried also `sb.removeAllSubscriptions()` but it was not working neither. I couldn't really use it tho because I had another `app`-level subscription.

I don't have much more insights because for the use case I needed, in the end I put t

[2022-05-09 23:52] #254 closed

[2022-05-09 23:54] w3b6x9 commented on #255
@orenwang hey, just wanted to check in and see if you were able to get it to work.

[2022-05-10 06:21] orenwang commented on #255
Hey @w3b6x9 , sorry for the late reply. Your checklist was SUPER helpful!

My issue with self-hosting Realtime RLS was that my JWT does not have a "role" field. After I add, it works perfect. Thx

[2022-05-10 06:21] #255 closed

[2022-05-10 10:25] MartyMcFlyInTheSky opened #257 "Can't subscribe to database changes due to type ambivalence"
# Bug report

Your README.md states that one can subscribe to channel events as follows:

[code]

This however doesn't work in my case. It spawns the following error:

[code]

The reason for this is that the channel() method returns either an object of type RealtimeChannel or RealtimeSubscriptions. However, they differ in the signature of the "on"-method which is subsequently used:

RealtimeChanne

[2022-05-15 05:38] mrshmllow commented on #143
Im prototyping a strawpoll app. What should I do if the client is taking like 10 seconds to receive multiple votes St once?

[2022-05-19 23:28] w3b6x9 commented on #244
@vhscom Thanks for the SSE feature request and for spelling out the pros + cons. We don't plan on introducing SSE to Realtime any time soon.

[2022-05-19 23:30] w3b6x9 commented on #222
@RasmusEdvardsen thanks for offering! We're currently making some big changes to Realtime and will add in additional filters shortly after the new changes we're making are stable.

[2022-05-19 23:35] w3b6x9 commented on #246
@leandertolksdorf We will consider allowing multiple subscriptions on the same table in the near future. For now, you'll just have to use a single subscription, get the changes, and then do some filtering client-side.

I'm going to close this issue b/c we intentionally enable a single subscription per table at the moment.

[2022-05-19 23:35] #246 closed

[2022-05-19 23:41] #132 closed

[2022-05-20 09:27] #244 closed

[2022-05-20 09:32] vhscom commented on #244
Thanks for the follow-up. Probably better suited for a separate library. Thanks, Wen.

[2022-05-20 09:34] w3b6x9 commented on #244
@vhscom we will revisit SSE in the future and determine if it’s appropriate for Realtime.

Also, please call me Wen Bo!

[2022-05-20 12:39] RasmusEdvardsen commented on #222
@w3b6x9 good to hear 🙂
Thanks for the feedback, I really like your product!

[2022-05-22 11:56] molaeiali opened #258 "ERROR: replication slot does not exist"
Sorry for opening an issue that I'm not 100% sure is caused by `realtime` or not, but I had no other guesses, so I opened this issue to ask for opinions.

I am getting these errors when my PostgreSQL container finishes loading, does this have anything to do with `realtime`?

[code]
As you can see, these are happening every 30 seconds or so.

## System information

- OS: Debian Bullseye Docker
- Ve

[2022-05-23 20:55] w3b6x9 commented on #258
@molaeiali can you take a look at the instructions here (https://github.com/supabase/realtime#realtime-rls-database-setup) and see if you have the same server setup?

[2022-05-31 20:32] ghenry opened #261 "mix phx.srv fails on Fedora 36 workstation and v1.13.2 elixir"
# Bug report

## Describe the bug
`mix phx.srv` fails on v1.13.2

## To Reproduce

On Fedora 36 workstation 64bit

## Expected behavior

`phx.srv` starts

## CLI session:

[code]

## Additional context

I'm a host on Software Engineering Radio and was listening to this today that Jeremy did with Ant - https://www.se-radio.net/2022/05/episode-511-ant-wilson-on-supabase-postgres-as-a-service/ and th

[2022-05-31 20:33] ghenry commented on #261
Running again, I now get:

[code]

[2022-05-31 20:44] ghenry commented on #261
Actually, must be me. Doing this is fine:

[code]

Apologies.

[2022-05-31 20:44] #261 closed

[2022-06-03 22:53] w3b6x9 commented on #258
@molaeiali feel free to reopen if you're still having issues.

[2022-06-03 22:53] #258 closed

[2022-06-15 23:16] dsernst commented on #247
Similar to https://github.com/supabase/realtime/issues/205

[2022-06-27 17:18] bhvngt opened #263 "GET /realtime/v1/websocket returning 404 while trying to test out examples locally"
# Bug report

## Describe the bug

When I run on docker locally using the [docker-compose](https://github.com/supabase/realtime/blob/master/docker-compose.rls.dev.yml) file provided, I get a stream of following error
[code]

## To Reproduce

1. git clone https://github.com/supabase/realtime.git
2. cd realtime
3. change `SECURE_CHANNELS: "false"` inside `docker-compose.rls.dev.yml`
4. docker-compos

[2022-06-28 03:52] bhvngt commented on #263
Thanks @w3b6x9 for your quick reply. That did work out fine.

Will the RLS support still exists? As per [this](https://github.com/supabase/realtime#realtime-rls-server-setup), `RLS` is required to enable `RLS` support.

[2022-06-28 03:56] w3b6x9 commented on #263
@bhvngt well if you disable `SECURE_CHANNELS` then it doesn't require any tokens so RLS won't work. If you want RLS to work you should turn back `SECURE_CHANNELS`.

[2022-06-28 03:56] #263 closed

[2022-06-28 04:00] bhvngt commented on #263
ok. So to make it work locally with `RLS`, if I set `SECURE_CHANNELS` to `TRUE` and change URL protocol to `https`, then it does not connect. I am sure I am missing something here. What do I need to do to make it work locally with `RLS` support?

[2022-06-28 04:03] w3b6x9 commented on #263
@bhvngt ah, gotcha. if you're doing this locally you should continue to use `http` and then pass in `apikey` at a minimum.

[code]

- https://github.com/supabase/realtime-js

where apikey is a generated token from the secret that was defined in `docker-compose.rls.dev.yml`. The token requires a `role`, which is a database role`, to work.

[2022-06-28 04:33] bhvngt commented on #263
Cool.. That make sense.

Does this mean that `REPLICATION_MODE` `RLS` is deprecated and now `STREAM` takes care of both `RLS` and `non-RLS` scenarios? Reason I am highlighting this is because thats what the current documentation suggests.

[2022-06-28 05:28] bhvngt commented on #263
@w3b6x9 It does not appear to be working. Here are the steps I followed.

- git pull the latest from the master
- `npm install` to update the dependencies
- changed `REPLICATION_MODE` to `STREAM` in `docker-compose.rls.dev.yml`
- changed `SECURE_CHANNELS` to `false` in `docker-compose.rls.dev.yml`
- generated `JWT` token containing `{"role": "authenticated}` and signed with `JWT_SECRET` `SOMETHING

[2022-06-28 17:08] w3b6x9 commented on #263
@bhvngt it's the opposite. `STREAM` is the initial version of Realtime that doesn't check against RLS policies.

[2022-06-28 17:08] w3b6x9 commented on #263
@bhvngt try it with `REPLICATION_MODE` set to `RLS` and `SECURE_CHANNELS` set to `true`.

[2022-06-28 17:53] bhvngt commented on #263
Thanks a ton @w3b6x9.

That seems to be working fine. So the missing piece was passing `apikey` from orignal setup, which makes complete sense in the hindsight.

Very much appreciate your help.

As a sidenote, whenever I insert record which is supposed to be filtered due to RLS, I see an error log recorded in the realtime logs. I am assuming that this one is an expected log.

[code]

[2022-07-01 06:10] w3b6x9 commented on #263
@bhvngt

You got it!

That doesn't look right. Looks like it might have missed a migration. Can you try wiping away your docker db and trying again.

[2022-07-01 06:20] w3b6x9 commented on #205
Related: https://github.com/supabase/realtime/issues/247

[2022-07-01 06:21] w3b6x9 commented on #247
@Marviel thanks for creating this issue. will close and track in https://github.com/supabase/realtime/issues/205 like @dsernst mentioned.

[2022-07-01 06:21] #247 closed

[2022-07-01 06:21] #125 closed

[2022-07-01 06:22] #61 closed

[2022-07-01 06:23] #119 closed

[2022-07-01 15:28] bhvngt commented on #263
Yep that was the culprit.  Anon volume were still lurking while I restarted my docker-compose run. After removing that the error message disappears. It all look set.

Thanks once again @w3b6x9 .

[2022-07-09 18:46] skizer opened #265 "Realtime + RLS not working @ hosted supabase cloud"
# Bug report

## Describe the bug

As with 09.07.2022 realtime in combination with activated RLS seem's to be broken with a freshly created supabase cloud instance.

Socket get's created, connects, schema realtime->subscription gets populated with the correct token/role.
Work's fine if RLS is turned off for the corresponding table, stop's working the moment RLS is turned on.

All permissions have

[2022-07-09 19:42] skizer commented on #265
A little update @w3b6x9 , out of curiosity I've just setup a fresh self-hosted supabase instance with docker, pulled right from supabase/docker - Guess what, it works fine there.

[2022-07-09 23:59] VittorioParagallo commented on #244
I was looking too for this feature. I used in some projects, and the idea to use SSE as Rest calls has several benefits.

[2022-07-11 07:05] mrolafsson commented on #265
I'm seeing the same. RLS works for regular `select` but not for realtime. Disabling RLS push works as expected. My policy uses a function in case that helps.

[2022-07-11 12:12] bhvngt commented on #263
@w3b6x9 Sorry to bother you once again.

I was actually mistaken. RLS with local hosting does not seem to be working. Not sure what I am doing wrong here.

Here are the steps that should reproduce the issue

- Fresh `git pull` of this repo
- Changed  following line inside `examples/node-js/src/server.js` where the `apikey` token is a `jwt` containing `{"role": "authenticated"}` signed with `SOMETH

[2022-07-12 05:42] w3b6x9 commented on #263
@bhvngt no bother at all, happy to help.

i just had a look at [docker realtime logs](https://gist.github.com/bhvngt/d351c6a19b388e9d365484ca9672c4fa) but didn't see any apikey in the parameters:

[code]

so something must be wrong with the setup.

which version of `realtime-js` are you running? can you try it with the latest if not already done so.

[2022-07-12 05:45] w3b6x9 commented on #263
@bhvngt

[code]

this is normal b/c you have to explicitly grant select permission for tables outside of the `public` schema.

[2022-07-12 05:51] w3b6x9 commented on #263
@bhvngt if you haven't already done so can you please `git pull` on this repo's `master` so you have the latest?

[2022-07-12 06:04] w3b6x9 commented on #265
@skizer it might be related to a few migrations that are on the self-hosted supabase instance docker that hasn't made its way yet to the hosted version. i was going to deploy some fix changes to the entire supabase fleet tomorrow afternoon but let me do it for your project now to see if it resolves your issue.

[2022-07-12 06:05] w3b6x9 commented on #265
@mrolafsson would you like me to do it for your project as well?

[2022-07-12 06:13] bhvngt commented on #263
Thanks @w3b6x9 for your help. I pulled the docker image as well as re-cloned this repo. So setup everything from scratch.

It's still giving the same result. I do notice that the it first connects using the `apikey` and then later while joining `realtime`, `apikey` disappears.
[code]

Here's the full [server.js](https://gist.github.com/bhvngt/9f71bf9895e3035064420da0b933afdb) that I am running on

[2022-07-12 06:28] w3b6x9 commented on #265
@skizer @mrolafsson it might have to do with a specific type of a column and it could be a bug on our end. i'll send this to the rest of the team and we'll investigate fully. thanks for your patience!

[2022-07-12 06:35] w3b6x9 commented on #265
@skizer @mrolafsson can both of you please try again in your respective projects?

@skizer i manually tested your project's realtime and it was working for me. if it's still not working for you make sure you are passing in the right apikey/token on subscription and that your rls policy/policies work as intended.

[2022-07-12 06:49] w3b6x9 commented on #263
@bhvngt Ah, I think your JWT needs `exp`. I don't think Realtime will work properly without it.

[2022-07-12 06:52] w3b6x9 commented on #244
@VittorioParagallo thanks for your feedback! we will take it under advisement when we consider whether or not to add SSE.

[2022-07-12 07:13] bhvngt commented on #263
@w3b6x9 I have recreated my `jwt` token with following content and secret.

[code]
`JWT_SECRET: SOMETHING_SUPER_SECRET`

Then I have updated the token inside `server.js`Token with the generated token `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYXV0aGVudGljYXRlZCIsImV4cCI6MTY4OTE0NDc4MH0.qRMj6BSfgg3a7cz7H57cOnsBJ-mnvl4M-BaW6rNC2W8`

I still get the same result.

While database inserts on tabl

[2022-07-12 08:25] w3b6x9 commented on #263
@bhvngt got it!

i've pinged another team member internally regarding:

[code]

and we'll get back to you shortly on that. sorry about that and thank you for your patience!

[2022-07-12 08:42] bhvngt commented on #263
@w3b6x9 Thank you for your wonderful support and building this product.

[2022-07-12 09:42] w3b6x9 commented on #265
@skizer @mrolafsson this is indeed a bug on our end introduced in one of the latest migrations. we just created a fix and will push out a fix ASAP.

[2022-07-12 09:53] w3b6x9 commented on #263
@bhvngt if you want to get unblocked immediately please run everything off of this branch: https://github.com/supabase/realtime/tree/fix/recreate-walrus-function.

[2022-07-12 09:54] w3b6x9 commented on #265
If you want to get unblocked ASAP you can manually run this query: https://github.com/supabase/walrus/blob/4eb365250347787a935c21ce9790d2307a17b379/sql/walrus--0.1.sql#L204-L236

[2022-07-12 10:27] bhvngt commented on #263
Thanks a ton @w3b6x9.

After building this locally using `docker-compose build`, now it is working out well. I do see `errors: ['Error 401: Unauthorized']` messages getting logged after couple of seconds. I am assuming that these are expected.

`realtime server logs` are looking good with zero errors.

Slightly side question - I saw that the realtime publication is enabled on all tables. On a real

[2022-07-12 15:11] conradlin commented on #265
Hi guys, appreciate all your hard work. I made a comment in the discord, and was recommended to share my details here - my realtime subscribes in my projects are not triggering anymore, even when there is definitely a change in the database. No configuration has changed for the last few days, and only noticing this problem today.

I have also rebooted my project, and still no luck. My project URL

[2022-07-12 19:16] w3b6x9 commented on #265
@conradlin your issue is unrelated but i have resolved it so realtime should be working for your project now.

[2022-07-12 21:34] skizer commented on #265
Hey,
thanks for your feedback!

I've tested it and it didn't work right away so I had to run your mentioned query but once done, things started to work.
Dunno if it helps but I thought you should know that since you mentioned you ran the query already on my project.

[2022-07-12 22:14] w3b6x9 commented on #263
@bhvngt yes, these are expected b/c the publication listens to all tables but we only allow clients to listen for changes in `public` schema by default. this opens up the opportunity to listen to tables in private schemas in the future.

@bhvngt sounds great!

@bhvngt good question. I would say that performance impact is minimal up to a point so I wouldn't worry about that. The bigger worry is sec

[2022-07-13 06:52] bhvngt commented on #263
Hmm. In my project I have my data stored in `non-public` schema. Will `realtime` work for tables stored in that schema? If not then is there any workaround possible?

Thanks @w3b6x9 Make sense. Will keep this in mind.

[2022-07-13 07:41] w3b6x9 commented on #263
@bhvngt so your client will get the change but the actual data is hidden. as superuser you can grant certain roles select access to those tables in the non-public schemas.

don't quote me on this but you can do something like `grant select on all tables in schema [your non-public schema] to authenticated`. then if your clients connect as authenticated role they can get changes from tables in that

[2022-07-13 07:52] bhvngt commented on #263
Thank you so much @w3b6x9. This was very helpful indeed. I checked and it works like you said. Will not quote you though :)

I will continue to use the build from [fix/recreate-walrus-function](https://github.com/supabase/realtime/tree/fix/recreate-walrus-function). I am assuming that sometime in the future this will get merged to master docker build `(supabase/realtime)` hosted on `dockerhub`.

[2022-07-13 07:57] w3b6x9 commented on #263
@bhvngt haha if it's working then please quote me 😉

i think it's been deployed already. try https://hub.docker.com/layers/realtime/supabase/realtime/v0.22.7/images/sha256-a96ddfa6b7e95334b22c1bab04df7d22a5bcd98c1ac0ab265616765019df9fc7.

[2022-07-13 07:59] bhvngt commented on #263
Super 🚀. Love you guys for your help and support.

[2022-07-13 23:57] lifeiscontent opened #267 "Custom encoders for WebSocket payloads"
# Feature request

## Is your feature request related to a problem? Please describe.

would be ideal to have alternatives to receiving messages via WebSockets

## Describe the solution you'd like

if possible the ability to pass custom coder functions for encoding and decoding messages rather than just JSON

## Describe alternatives you've considered

N/A

## Additional context

BSON is my first t

[2022-07-14 09:57] mrolafsson commented on #265
Works perfectly!!! Thank you so much for all your help!

[2022-07-18 01:47] mitchemmc commented on #265
We ran this and it fixed the issue with all events except the delete event. We now have an issue where delete events ignore the row level filtering `{table}:{col}=eq.{val}` and now every user is being updated for all delete events no matter the filter used.

This also seems to be a big security vulnrability for us as all users see the entire row for every delete event (because we need full data re

[2022-07-19 06:00] w3b6x9 commented on #265
@mitchemmc I think it's our fault for not properly documenting this but delete events are a bit different:

- https://github.com/supabase/walrus

[2022-07-19 06:24] mitchemmc commented on #265
Thanks for the info.

I have a database that I set up a few months ago and when I run this command:

[code]

I will receive delete events only on the row with the ID of 1.
However on my database that I created last week the same query will trigger for every row in the database.
So it is also ignoring my filters on delete events which seems to be a recent change.

I've also stopped listening to del

[2022-07-19 07:39] w3b6x9 commented on #265
@mitchemmc thanks so much for the additional info. We'll take a deeper look and try to uncover what's causing this discrepancy.

[2022-07-19 14:58] Marviel commented on #246
@w3b6x9 Any idea where this sits on the future roadmap? It would be pretty useful from our perspective.

[2022-07-19 16:19] Marviel commented on #246
@w3b6x9 By analogy, consider a Reddit-Like application, where most messages are public to all users.

If a user desired realtime updates on **only the messages that were currently visible**, it would be very excessive to subscribe to all messages on the entire platform.

Being able to subscribe to a single id is a start... but if there are multiple ids on the screen, this is insufficient, and we w

[2022-07-19 16:35] Marviel commented on #246
UPDATE: Actually, it appears my understanding of the limitation here is inaccurate, based on this discussion post here: https://github.com/supabase/supabase/discussions/5684

It appears we can subscribe to multiple ids, because they are treated as separate subscription references.

[2022-07-19 16:47] w3b6x9 commented on #246
@Marviel yep, you can listen to as many unique ids as you want. The limitation here is that you can't listen to `foo_name:id=eq.7` twice using the same client.

Also, depending on one's use case they can also enable RLS and create the right policies so it's filtered automatically on the server so client can listen to just a schema or table and b/c of security client will only receive messages as s

[2022-07-22 23:26] pedrossdemelo opened #268 "Supabase realtime subscriptions are down/not working"
# Bug report

## Describe the bug

Supabase realtime subscriptions are down/not working

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a DB
2. Enable Realtime
3. Try to subscribe the UI to any changes

Example
[code]

## Expected behavior

For the websocket connection to listen to changes and update the ui

## System information

- macOS

[2022-07-23 18:53] w3b6x9 commented on #268
@pedrossdemelo I looked at your projects and I saw that the migration that was mentioned in https://github.com/supabase/realtime/issues/265#issuecomment-1181560093 was already run successfully on both. Did you do anything else besides run that query to get Realtime working for you?

[2022-07-23 18:57] w3b6x9 commented on #268
@pedrossdemelo I'm going to close this issue but feel free to reopen should the same issue arise.

[2022-07-23 18:57] #268 closed

[2022-07-23 19:01] w3b6x9 commented on #265
Update: the original issue here has been resolved and the fix has gone out to all Supabase projects. If you continue to face the originally reported issue then please drop a comment here. Otherwise, please create other GitHub issues so that we may address them individually.

[2022-07-23 19:01] #265 closed

[2022-07-23 19:02] w3b6x9 commented on #252
@barbalex we have now addressed this by way of my colleague @olirice's suggestion:

please give it a try and let me know what you think.

[2022-07-23 19:02] #252 closed

[2022-07-23 20:28] pedrossdemelo commented on #268
You may have seen it before because I also opened a ticket on your website. The support staff may or may not have ran the same script before I ran it myself this morning. Anyways thanks for the awesome product!

[2022-07-27 11:25] steffenstolze commented on #265
We've encountered the exact same problem, trying to use realtime with RLS and a pretty basic use case on hosted Supabase.

Realtime updates we're not triggered until we ran the following statement:

[code]

No it works. So.... what's the deal with this? Will it be fixed? Will we have to execute that statement in every new project?

Thank you!

[2022-07-27 16:45] w3b6x9 commented on #265
@steffenstolze so it's been fixed in Realtime (see: https://github.com/supabase/realtime/pull/266) but we haven't deployed it yet for all projects. we'll do this as soon as we can!

[2022-08-02 00:13] GaryAustin1 opened #269 "Bulk updates "break" realtime"
# Bug report

## Describe the bug
Was writing a quick test to check performance of realtime in the face of lots of database updates.

Doing an update of 5000 rows in a table (single SQL statement) works for 5000 rows (completes browser console logs in 1 second with or without RLS) to a single subscription (very impressive)

Doing an update of 7000 records returns only 5000 messages with no error.

[2022-08-02 01:39] mats16 opened #270 "Not works with Amazon Aurora"
# Bug report

## Describe the bug

The supabase-realtime server does not work with Amazon Aurora PostgreSQL.

## To Reproduce

1. Change parameters for replications
[code]

2. Create PostgreSQL Cluster (v14.3)

3. Launch supabase-realtime server and connect DB

4. The following log is displayed
[code]

## Expected behavior

It works well, because it does not rely on extensions.

## Screenshots

N/

[2022-08-02 02:10] w3b6x9 commented on #270
@mats16 did you make sure you have everything configured according to instructions found here:  https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraPostgreSQL.Replication.Logical.html#AuroraPostgreSQL.Replication.Logical.Configure

[2022-08-02 04:42] mats16 commented on #270
Thanks! I already checked it...

I would like to  create supabase_admin as rds_superuser in rds and try...

[2022-08-03 21:03] w3b6x9 commented on #270
@mats16 can you please share your config, if possible?

[2022-08-04 04:31] mats16 commented on #270
Thanks.
This is my settings.

ParameterGroup (for Amazon Aurora PostgreSQL 14):
[code]

Realtime server config as docker-compose.yml:
[code]

Test CDK project: https://github.com/mats16/supabase-on-aws

[2022-08-05 14:28] jan-tennert opened #272 "Error when trying to update the auth token"
# Bug report

## Describe the bug

I'm currently writing an realtime client for kotlin and everything works so far but I'm having one small problem with updating the auth token.
I'm not even sure if this is a bug, or I'm just dumb, but if I try to send the packet to update the auth token for a subscription, I'm getting this error:

[code]

## To Reproduce

- connect to the realtime websocket
- sub

[2022-08-06 18:48] w3b6x9 commented on #272
@jan-tennert just confirming that your topic is actually `realtime:topic` (starts with `realtime:`) when you run it. can you please create a ticket over at https://app.supabase.com/support/new with your Supabase project ref and I can take a look?

[2022-08-06 18:58] w3b6x9 commented on #270
@mats16 can you take a look at https://github.com/supabase/realtime/blob/master/dev/postgres/mnt/00-setup.sql and make sure you have everything like a `realtime` schema, a publication called `supabase_realtime`, etc.?

[2022-08-06 19:03] w3b6x9 commented on #271
@leandertolksdorf this is intended. When you do `.on("*")` you're essentially listening to the following topic `realtime:*`. Currently, Realtime only allows listening to unique topics per socket connection.

[2022-08-06 19:03] #271 closed

[2022-08-07 00:45] jan-tennert commented on #272
sure

[2022-08-07 00:48] jan-tennert commented on #272
Also my topic is **test** was just generalizing the bug. As said, I'm receiving database updates normally but I can't update the auth token

[2022-08-07 10:50] mats16 commented on #270
@w3b6x9  My referrence is https://github.com/supabase/supabase/blob/master/docker/volumes/db/init/00-initial-schema.sql, so I have already created schema and publication.

I noticed that  logs published at intervals of the value of SUBSCRIPTION_SYNC_INTERVAL.

Logs about `SUBSCRIPTION_SYNC_INTERVAL: 10000`
[code]

Which query is to confirm connected subscribers and the tables?
I could not find it,

[2022-08-07 16:59] w3b6x9 commented on #270
@mats16 do you see a `realtime.schema_migrations` table in your database?

[2022-08-07 20:43] mats16 commented on #270
@w3b6x9 My latest migration version is 20220712093339.

[2022-08-07 22:56] w3b6x9 commented on #270
@mats16 This should be the culprit: https://github.com/supabase/realtime/blob/be988ff0df0c846295500a6a8233a22d9cd7f7a1/server/lib/realtime/rls/subscriptions/subscriptions.ex#L37.

I do want to back up and mention that `SECURE_CHANNELS` is required to be `true` when `REPLICATION_MODE` is `RLS`. If you don't care about RLS and just want to get it working for the time being you should try it with `RE

[2022-08-07 23:28] w3b6x9 commented on #272
@jan-tennert feel free to reopen this if the issue comes up again.

[2022-08-07 23:28] #272 closed

[2022-08-07 23:29] jan-tennert commented on #272
The issue fixed itself somehow no idea what was causing it

[2022-08-08 08:37] mats16 commented on #270
@w3b6x9 thanks.
I connected in stream mode and it worked.

I also noticed the following error about web socket connection and no record existed in `realtime.subscription` table.
[code]

It is probably error related  pgjwt or permissions.

[2022-08-08 08:40] mats16 commented on #270
We cannot use pgjwt on RDS, so we need to install it via SQL. If unctions such as verify work in `extensions` schema, there is no problem, right?

(Also, sorry for creating the issue as a bug.)

[2022-08-08 16:48] w3b6x9 commented on #270
@mats16 ah, that's my bad. We've had a few versions of Realtime and the latest one no longer respects the `SECURE_CHANNELS` flag. You will have to set it to `true`, generate a JWT (you can use an online tool for convenience) with your `JWT_SECRET` (whatever `xxx` actually is), pass that in, and you should be fine.

Realtime doesn't use the `pgjwt` extension. JWT verification and validation is done

[2022-08-09 01:30] mats16 commented on #270
@w3b6x9 Thanks

I think I have found the root cause.

I confirmed that Aurora had received a query `select rolname from pg_authid` .
https://github.com/supabase/realtime/blob/master/server/lib/realtime/rls/subscriptions/subscriptions.ex#L52

But we can not have permission to `pg_authid` table on Amazon Aurora/RDS, because `rds_superuser` role is not real `SUPERUSER` role.

Is it possible to change

[2022-08-09 01:46] w3b6x9 commented on #270
@mats16 you're right, switching to `pg_roles` is better for security as it blanks the password. Would you like to do the honors and submit a PR? It should be as simple as replacing `pg_authid` for `pg_roles`.

[2022-08-09 01:52] mats16 commented on #270
@w3b6x9 I tried it and confirmed it works with replacing `pg_authid` for `pg_roles`. I'll create PR.

[2022-08-09 09:01] w3b6x9 commented on #270
@mats16 thanks for the PR!

[2022-08-09 09:01] #270 closed

[2022-08-11 06:37] meera opened #279 "Trying to run multiplayer demo: What should be REALTIME_URL and REALTIME_ANON_KEY?"
# Bug report
Trying to run multiplayer demo. I could use more information about how to run it.

What should be the values of REALTIME_URL and REALTIME_ANON_KEY?

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

##

[2022-08-14 16:29] #279 closed

[2022-08-15 18:33] mathewcst commented on #265
any updates on this? I'm trying to figure out why my INSERTs where not reflected for a week now

[2022-08-15 18:50] mathewcst commented on #265
I'm trying to figure Realtime out for a week now, and only deletes were working.

I'm using Prisma + Sveltekit with Supabase. In a recent test, I've discovered that the problem was using tables created by prisma. If I create at able manually (on supabase dashboard), it works.

Any ideas why?

[2022-08-15 19:01] GaryAustin1 commented on #265
Probably this:  https://supabase.com/docs/guides/integrations/prisma#troubleshooting
Prisma messes up grants.

[2022-08-15 19:04] mathewcst commented on #265
Unfortunately not. Tried this already and had no success on inserts, only deletes.

[2022-08-15 19:07] GaryAustin1 commented on #265
Deletes don't use RLS.  Inserts and Updates do.  Do you have RLS on and do you meet the select policy?  Does it work with RLS off?

[2022-08-15 19:08] mathewcst commented on #265
Tried both with RLS on and off, but no luck.

Since I use Prisma on the "backend" (Sveltekit Endpoints), it actually inserts on the database but doesn't reflect on the subscription.

[2022-08-15 19:11] w3b6x9 commented on #265
@mathewcst it's probably related to Prisma creating quoted custom types on your behalf. There's a fix but waiting to be deployed to all projects. Can you please create a ticket at https://app.supabase.com/support/new and we'll look into it?

[2022-08-15 19:14] mathewcst commented on #265
@w3b6x9 will do. Ty.

[2022-08-18 06:17] Soviut opened #282 "Subscription seems to take a few seconds to initialize"
# Bug report

## Describe the bug

I'm experimenting with building a very simple realtime chat application in Vue 3. I'm using a subscription to monitor my `posts` table on `INSERT` to keep the chat log up to date. However, if I submit my send form immediately after a browser refresh, the subscription doesn't register the insert even though I can confirm the post was inserted. If I wait a few seco

[2022-08-20 00:13] GaryAustin1 opened #281 "Realtime-js returns "SUBSCRIBED" message before websocket returns subscribed message 2 to 3 seconds later."
# Bug report

## Describe the bug

I'm putting this in realtime as it might involve realtime and realtime-js.

First it appears realtime takes 1 to several seconds to set up a subscription successfully to handle a change report, is this expected?

Second supabase-js (rc4) / realtime-js .subscribe() fires a SUBSCRIBED event well before the websocket returns a subscribed message in a packet.

## To

[2022-08-20 00:22] w3b6x9 commented on #282
Related: https://github.com/supabase/realtime/issues/281

[2022-08-20 00:22] w3b6x9 commented on #281
@GaryAustin1 thanks for the detailed report! will close this in favor of https://github.com/supabase/realtime/issues/282.

[2022-08-20 00:22] #281 closed

[2022-08-22 18:34] mlanza opened #283 "PKs returned by realtime update hook varies from what is actually in the database"
# Bug report

## Describe the bug

After logging into the client side in my browser:
[code]
The above returns my single record (just one in the table) which includes the acutal keys as they exist in the database:
[code]
The table was declared as such and configured for realtime observance:
[code]

The `generate_uuid` chooses random letters and numbers in a certain length.  These kinds of keys are

[2022-08-22 22:54] GaryAustin1 commented on #282
@w3b6x9
In order not to miss updates I have used the .subscribe() callback message "SUBSCRIBED" to load the initial table data being monitored.

That is clearly not working now, and may never have actually reflected the realtime data was ready to be reported, but I have no way to check now.

I'm doing something like this for the moment
[code]
Don't like testing for undocumented messages, but does

[2022-08-22 23:54] Soviut commented on #282
@GaryAustin1 awaiting the subscribe() should also suffice; it doesn't have to be a callback. However, in both cases, the async behaviour is finishing prematurely.

[2022-08-23 00:19] mlanza commented on #283
Wondering if calling a table 'tables', a potential reserved word, I renamed the table to `tabletops` and it had the same result.

[2022-08-23 08:57] pie6k commented on #265
I just want to express that this issue is yet another one that makes our team want to drop using supabase altogether.

We're willing to pay for supabase cloud easily, as it provides us a lot of value.

But it feels very 'early beta' in so many places it is actually a bit cringe.

- it is necessary to run some magic SQL queries, which are not version-controlled
- without that real-time is simply no

[2022-08-23 09:04] mathewcst commented on #265
I have to say I felt the same way as you @pie6k when I was using Prisma. After learning that Prisma changed a bit of my schema/permissions, I just dropped it, and everything just kinda worked (thanks to the Supabase support team).

Maybe contacting the support and explaining what's the problem for you, can help fix it, they're super quick on the responses.

[2022-08-23 09:33] bhvngt opened #284 "Realtime stopped working while migrating to the `0.24.0` docker image"
# Bug report

## Describe the bug

While migrating to the latest realtime [image](https://hub.docker.com/layers/realtime/supabase/realtime/latest/images/sha256-99a3a3f397495141648c3f999eb9e26f4f6ecd21e1cbad9b33a0a3333a2f0589?context=explore) from `realtime/walrus` image, realtime has stopped working. In the docker logs its giving following errors

[code]

## To Reproduce

I have cloned this repo a

[2022-08-23 16:42] w3b6x9 commented on #282
Hey everyone, sorry for taking so long to address this.

For the new Multi-Tenant Realtime cluster that offers Broadcast and Presence functionalities, we wanted clients to immediately connect to the cluster and have Postgres changes prepare asynchronously since that requires more time inserting into your `realtime.subscription` database table. Every single Realtime channel can do one thing or ever

[2022-08-23 18:06] w3b6x9 commented on #265
Completely understand, @pie6k!

This is definitely the right place - we encourage feedback on any channel. We definitely could have picked up on some of these problems with a more robust test suite - it's always hard to balance building fast and building right.

The immediate action we can take here is to increase our test coverage. We already discussed this in our Launch Week retrospective yester

[2022-08-23 19:58] w3b6x9 commented on #283
@mlanza thanks so much for reporting this issue. This is a server-side issue that we'll investigate and will post our findings here.

[2022-08-23 20:41] mlanza commented on #283
Reading that Walrus' handling of `char` was the culprit, I used the suggestion of using `varchar` instead and that does solve the immediate issue.  It does not overcome that fact that the fix eliminates the opportunity to use `char` when it's the more economic choice.

[2022-08-23 21:32] w3b6x9 commented on #284
@bhvngt can you please try it with @supabase/realtime-js v1.7.4?

`supabase/realtime` docker image is not yet compatible with @supabase/realtime-js rc versions. We've been developing the new Broadcast and Presence in a private repo and will be moving over all code to this repo in the upcoming weeks.